<br>
<br>
<div class="row">
    <div class="col-lg-6">
        <div class="login">
            <div class="container">
                <div class="row">
                    <div class="billing">
                        <div class="checkout_title">Personal Information</div>
                        <div class="login_form_container">
                            <form action="#" id="personal_information_form" class="login_form">
                                <div>
                                    <br>
                                    <!-- Name -->
                                    <div class="login-text p-b-10" style="color: black;">Name
                                    </div>
                                    <input type="email" id="change_name" value="Jane"
                                           class="checkout_input form-control"
                                           placeholder="Name">
                                </div>
                                <div>
                                    <!-- Surname -->
                                    <br>
                                    <div class="login-text p-b-10" style="color: black;">
                                        Surname
                                    </div>
                                    <input type="email" id="change_surname" value="Doe"
                                           class="checkout_input form-control"
                                           placeholder="Surname">
                                </div>
                                <div>
                                    <br>
                                    <!-- Email -->
                                    <div class="login-text p-b-10" style="color: black;">E-Mail
                                        Address
                                    </div>
                                    <input type="email" id="change_email"
                                           value="jane_doe@gmail.com"
                                           class="checkout_input form-control"
                                           placeholder="E-Mail">
                                </div>
                                <div>
                                    <br>
                                    <!-- Birth Date -->
                                    <div class="login-text p-b-10" style="color: black;">Birth
                                        Date
                                    </div>
                                    <input type="text" id="change_birthdate"
                                           class="checkout_input form-control date"
                                           placeholder="dd/mm/yyyy">
                                </div>
                                <div>
                                    <br>
                                    <!-- Phone Number -->
                                    <div class="login-text p-b-10" style="color: black;">Phone
                                        Number
                                    </div>
                                    <input type="text" id="change_phone"
                                           class="checkout_input form-control phone_mask"
                                           placeholder="(XXX) XXX XX XX">
                                </div>
                                <div class="login_extra">
                                    <br>
                                    <ul>
                                        <li class="billing_info d-flex flex-row">
                                            <div>
                                                <label>
                                                    <label class="checkbox_container">
                                                        <input type="checkbox"
                                                               id="permission_agreement"
                                                               name="permission_agreement"
                                                               class="billing_checkbox">
                                                        <span class="checkbox_mark"></span>
                                                    </label>
                                                    <label style="padding-left: 29px; cursor: text">
                                                                                <span class="checkbox_text login-text">I want to receive
                                                                                    electronic messages to be informed about the campaigns
                                                                                    and promotions that Book Your Shelf will do.</span>
                                                    </label>
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                    <br>
                                </div>
                                <div><!--ERROR--></div>
                                <div class="login_button trans_200"><a
                                        href="index.html">update</a></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="container">
            <div class="row">
                <div class="billing">
                    <div class="checkout_title">Password Information</div>
                    <div class="login_form_container">
                        <form action="#" id="login_form" class="login_form">
                            <div>
                                <br>
                                <!-- Current Password -->
                                <div class="login-text p-b-10" style="color: black;">Your
                                    Current Password
                                </div>
                                <div class="input-group">
                                    <input type="password" id="current_password"
                                           class="checkout_input form-control pwd"
                                           title="Write your password register in the system.">
                                </div>
                            </div>
                            <div>
                                <br>
                                <!-- New Password -->
                                <div class="login-text p-b-10" style="color: black;">Your New
                                    Password
                                </div>
                                <div class="input-group">
                                    <input type="password" id="new_password"
                                           class="checkout_input form-control pwd1"
                                           title="Write your new password.">
                                </div>
                            </div>
                            <div>
                                <br>
                                <!-- New Password Again -->
                                <div class="login-text p-b-10" style="color: black;">Your New
                                    Password Again
                                </div>
                                <div class="input-group">
                                    <input type="password" id="new_password_again"
                                           class="checkout_input form-control pwd1"
                                           title="Write your new password.">
                                </div>
                                <br>
                                <div>
                                    <span>*Your password must be 8-16 characters, and include at least one lowercase letter, one uppercase letter, and a number.</span>
                                </div>
                                <br>
                            </div>
                            <div><!--ERROR--></div>
                            <div class="login_button trans_200"><a
                                    href="thank-you.html">update</a></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
