<br>
<br>
<!-- Sort orders -->
<div class="products_bar_side d-flex flex-row align-items-start justify-content-start ml-lg-auto">
    <div class="products_dropdown product_dropdown_sorting">
        <div class="isotope_sorting_text"><span>Sort</span><i
                class="fa fa-caret-down" aria-hidden="true"></i></div>
        <ul style="text-align: start">
            <li class="item_sorting_btn"
                data-isotope-option='{ "sortBy": "original-order" }'>Date
            </li>
            <li class="item_sorting_btn" data-isotope-option='{ "sortBy": "book-name" }'>Product
                Name
            </li>
            <li class="item_sorting_btn" data-isotope-option='{ "sortBy": "decr-rate" }'>
                Decreasing Rate
            </li>
            <li class="item_sorting_btn" data-isotope-option='{ "sortBy": "incr-rate" }'>
                Increasing Rate
            </li>
        </ul>
    </div>
    <div style="width: 50px"></div>
    <div class="products_dropdown product_dropdown_filter">
        <div class="isotope_filter_text"><span>Filter</span><i class="fa fa-caret-down"
                                                               aria-hidden="true"></i></div>
        <ul style="">
            <li class="item_filter_btn" data-filter="*">All</li>
            <li class="item_filter_btn" data-filter=".commented">Commented</li>
            <li class="item_filter_btn" data-filter=".uncommented">Uncommented</li>
        </ul>
    </div>
</div>
<br>
<div>
    <!-- Review -->
    <div class="row">

        <!-- Review Content -->
        <div class="col-lg-8">
            <div class="review_item">
                <div class="media">
                    <div class="media-body row">
                        <div class="col-lg-10">
                            <h4 class="date">20.03.2020</h4>
                            <i class="fa fa-star" style="color:#fbd600"></i>
                            <i class="fa fa-star" style="color:#fbd600"></i>
                            <i class="fa fa-star" style="color:#fbd600"></i>
                            <i class="fa fa-star-o" style="color:#fbd600"></i>
                            <i class="fa fa-star-o" style="color:#fbd600"></i>
                        </div>
                        <div class="col-lg-2">
                            <!-- Delete button -->
                            <a href="#" class="trans_200" data-toggle="collapse"><i
                                    style="font-size: 30px; color: #4a4a4a"
                                    class="fa product_text"
                                    title="Delete this review">&#xf014;</i></a>
                        </div>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                    non proident, sunt in culpa qui officia deserunt mollit anim id est
                    laborum.</p>
            </div>
            <br>
            <br>
        </div>

        <!-- Book -->
        <div class="col-lg-4">
            <div class="review_list">
                <li class="cart_item item_list d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-end justify-content-start">
                    <div class="product_row d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start mr-auto">
                        <a href="product.html">
                            <div>
                                <div class="product_image"><img src="images/seker_portakali.jpg"
                                                                alt=""
                                                                class="product_image_img">
                                </div>
                            </div>
                            <div class="product_name_container">
                                <div class="review-product-name txt-left"><a
                                        href="product.html">My Sweet Orange Tree</a>
                                </div>
                                <div class="review-product-text">José Mauro de Vasconcelos</div>
                            </div>
                        </a>
                    </div>
                </li>
            </div>
        </div>
    </div>

    <!-- Review -->
    <div class="row">

        <!-- Review Content -->
        <div class="col-lg-8">
            <div class="review_item">
                <div class="media-body row">
                    <div class="col-lg-10">
                        <h4 class="date">18.03.2020</h4>
                        <i class="fa fa-star" style="color:#fbd600"></i>
                        <i class="fa fa-star" style="color:#fbd600"></i>
                        <i class="fa fa-star" style="color:#fbd600"></i>
                        <i class="fa fa-star" style="color:#fbd600"></i>
                        <i class="fa fa-star-o" style="color:#fbd600"></i>
                    </div>
                    <div class="col-lg-2">
                        <!-- Delete button -->
                        <a href="#" class="trans_200" data-toggle="collapse"><i
                                style="font-size: 30px; color: #4a4a4a"
                                class="fa product_text" title="Delete this review">&#xf014;</i></a>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Bibendum est ultricies
                    integer quis auctor. Leo vel orci porta non pulvinar neque laoreet
                    suspendisse. Adipiscing elit duis tristique sollicitudin. Pulvinar elementum
                    integer enim neque volutpat ac. Imperdiet sed euismod nisi porta lorem
                    mollis aliquam. Cursus euismod quis viverra nibh. Lacus vestibulum sed arcu
                    non odio euismod lacinia at. Pulvinar pellentesque habitant morbi tristique
                    senectus. Gravida arcu ac tortor dignissim convallis aenean et tortor at.
                    Fermentum odio eu feugiat pretium nibh. Porta lorem mollis aliquam ut. Lacus
                    vel facilisis volutpat est. Consectetur lorem donec massa sapien faucibus et
                    molestie ac. Posuere ac ut consequat semper viverra nam.
                </p>
            </div>
            <br>
            <br>
        </div>

        <!-- Book -->
        <div class="col-lg-4">
            <div class="review_list">
                <li class="cart_item item_list d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-end justify-content-start">
                    <div class="product_row d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start mr-auto">
                        <a href="product.html">
                            <div>
                                <div class="product_image"><img src="images/kurk_mantolu.jpg"
                                                                alt=""
                                                                class="product_image_img">
                                </div>
                            </div>
                            <div class="product_name_container">
                                <div class="review-product-name txt-left"><a
                                        href="product.html">Kürk Mantolu Madonna</a>
                                </div>
                                <div class="review-product-text">Sabahattin Ali</div>
                            </div>
                        </a>
                    </div>
                </li>
            </div>
        </div>
    </div>
</div>
<!-- No review -->
<div class="warning-text" style="display: none">There are no review.</div>

<div class="row page_nav_row">
    <div class="col">
        <div class="page_nav">
            <ul class="d-flex flex-row align-items-start justify-content-center">
                <li class="active"><a href="#">1</a></li>
                <li><a href="#" style="color: #fbaa1d;">2</a></li>
                <li><a href="#" style="color: #fbaa1d;">3</a></li>
                <li><a href="#" style="color: #fbaa1d;">4</a></li>
            </ul>
        </div>
    </div>
</div>
