<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<span th:unless="${#lists.isEmpty(allUsers)}">
<div class="row order - row ">
    <div class="col-lg-6">
        <div class="address-element-padding">
            <div class="billingAddress">
                <div class="product_content">
                    <div class="row order - row">
                        <div class="address-title">Billing Address</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add address button -->
        <div class="address-element-padding">
            <a href="#billing_address_column" class="trans_200" data-toggle="collapse">
                <div class="billingAddress">
                    <div class="product_content">
                        <div style="align-items: center; justify-content: center"
                             class="row order - row ">
                            <div class="add-address">Add New Address</div>
                            <i style="padding-left: 5px" class="fa fa-plus"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <!-- Address form -->
        <div id="billing_address_column" class="collapse">
            <div class="address-container">
                <div class="billingAddress">
                    <div class="checkout_form_container">
                        <form action="#" id="billing_address_form" class="checkout_form" method="post">

                            <!-- Address Title -->
                            <div>
                                <div class="login-text p-b-10" style="color: black;">
                                    Address Title
                                </div>

                                <select name="billing_address_title" id="billing_address_title"
                                        class="dropdown_item_select checkout_input"
                                        required ="required">
                                    <option value="">SELECT</option>
                                    <option th:each="address_title : ${T(com.oak.bookyourshelf.model.Address.AddressTitle).values()}"
                                            th:value="${address_title}"
                                            th:text="#{${'address_title.' + address_title}}">addressTitle
                                    </option>

                                </select>
                            </div>

                            <!-- Name Surname -->
                            <div class="row">
                                <div class="col-lg-6">
                                    <!-- Name -->
                                    <div class="login-text p-b-10" style="color: black;">
                                        Name
                                    </div>

                                    <input type="text" id="billing_address_name"
                                           class="checkout_input form-control"
                                           placeholder="Name"  pattern="^[a-zA-Z ]+$" required="required">
                                </div>
                                <div class="col-lg-6">
                                    <!-- Surname -->
                                    <div class="login-text p-b-10" style="color: black;">
                                        Surname
                                    </div>

                                    <input type="text" id="billing_address_surname"
                                           class="checkout_input form-control"
                                           placeholder="Surname" pattern="^[a-zA-Z ]+$" required="required">
                                </div>
                            </div>

                            <!-- Country -->
                            <div>
                                <div class="login-text p-b-10" style="color: black;">
                                    Country
                                </div>

                                <select name="billing_address_country"
                                        id="billing_address_country"
                                        class="dropdown_item_select checkout_input"
                                        size="1" required ="required">
                                    <option value="" >SELECT</option>
                                    <option value ="Turkey">Turkey</option>
                                    <option value ="USA">USA</option>
                                </select>
                            </div>

                            <!-- City Province -->
                            <div class="row">
                                <div class="col-lg-6">
                                    <!-- City -->
                                    <div class="login-text p-b-10" style="color: black;">
                                        City
                                    </div>

                                    <select name="billing_address_city"
                                            id="billing_address_city"
                                            class="dropdown_item_select checkout_input"
                                            size="1" required ="required">
                                        <option value="" >SELECT</option>
                                        <option value ="Ankara">Ankara</option>
                                        <option value ="Las vegas">Las Vegas</option>
                                    </select>
                                </div>
                                <div class="col-lg-6">
                                    <!-- Province -->
                                    <div class="login-text p-b-10" style="color: black;">
                                        Province
                                    </div>

                                    <select name="billing_address_province"
                                            id="billing_address_province"
                                            class="dropdown_item_select checkout_input"
                                            size="1" required ="required">
                                        <option value="" selected="selected">SELECT</option>
                                        <option value ="cankaya">cankaya</option>
                                        <option value ="San frasisco">San fransisco</option>

                                    </select>
                                </div>
                            </div>

                            <!-- Neighborhood Zipcode -->
                            <div class="row">
                                <div class="col-lg-6">
                                    <!-- Neighborhood -->
                                    <div class="login-text p-b-10" style="color: black;">
                                        Neighborhood
                                    </div>

                                    <input type="text" id="billing_address_neighborhood"
                                           class="checkout_input form-control"
                                           pattern="^[a-zA-Z ]+$" required="required">
                                </div>
                                <div class="col-lg-6">
                                    <!-- Zipcode -->
                                    <div class="login-text p-b-10" style="color: black;">
                                        Zip Code
                                    </div>

                                    <input type="number" id="billing_address_zip_code" class="checkout_input form-control" required="required">

                                </div>
                            </div>

                            <!-- Address -->
                            <div>
                                <div class="login-text p-b-10" style="color: black;">
                                    Address
                                </div>
                                <input type="text" id="billing_open_address"
                                       class="checkout_input form-control"
                                       placeholder="Full Address" required="required">
                            </div>

                            <!-- Phone no -->
                            <div>
                                <div class="login-text p-b-10" style="color: black;">Phone
                                    Number
                                </div>
                                <input type="text" id="billing_address_phone"
                                       class="checkout_input form-control phone_mask"
                                       placeholder="(XXX) XXX XX XX" required="required">
                            </div>

                            <div><!--ERROR--></div>

                            <!-- Button -->
                            <input name=submit id="add_billing_address" type="submit" value="ADD ADDRESS" class="login_button trans_200">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Registered addresses -->
        <div>
            <ul>
                <!-- Registered address 1 -->


                <div class="address-element-padding">
                    <div class="billingAddress">
                        <div class="product_content">
                            <li class="row">
                                <div class="col-md-9 registered-address-title">
                                    Workplace
                                    
                                </div>
                                <div class="col-md-3">
                                    <a href="#billing_address_update"
                                       class="trans_200" data-toggle="collapse"><i
                                            style="font-size: 25px; padding-right: 10px"
                                            class="fa fa-pencil"></i></a>
                                    <a href="#" class="trans_200" data-toggle="collapse" id="delete_billing_address"><i
                                            style="font-size: 25px; color: #4a4a4a"
                                            class="fa product_text">&#xf014;</i></a>
                                </div>
                            </li>
                            <li class="row">
                                <div class="col-md-9 registered-address-content">
                                    Üniversiteler Mahallesi, Hacettepe Beytepe Kampüsü No:21,
                                    06800
                                </div>
                            </li>
                            <li class="row">
                                <div class="col-md-9 registered-address-content">
                                    Çankaya/Ankara

                                </div>
                            </li>
                        </div>
                    </div>
                </div>
                </tr>
                <!-- Update address form -->
                <div id="billing_address_update" class="collapse">

                    <div class="address-container">
                        <div class="billingAddress">
                            <div class="checkout_form_container">
                                <form action="#" id="billing_address_update_form"
                                      class="checkout_form">

                                    <!-- Address Title -->
                                    <div>
                                        <div class="login-text p-b-10" style="color: black;">
                                            Address Title
                                        </div>

                                        <select name="billing_address_update_title"
                                                id="billing_address_update_title"
                                                class="dropdown_item_select checkout_input"
                                                required ="required">
                                            <option value= "">SELECT</option>
                                            <option value="Home">Home</option>
                                            <option value="Workplace">Workplace</option>
                                            <option value="Summery">Summery</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </div>

                                    <!-- Name Surname -->
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <!-- Name -->
                                            <div class="login-text p-b-10"
                                                 style="color: black;">
                                                Name
                                            </div>

                                            <input type="text" id="billing_address_update_name"
                                                   class="checkout_input form-control"
                                                   placeholder="Name" pattern="^[a-zA-Z ]+$" required="required">
                                        </div>
                                        <div class="col-lg-6">
                                            <!-- Surname -->
                                            <div class="login-text p-b-10"
                                                 style="color: black;">
                                                Surname
                                            </div>

                                            <input type="text"
                                                   id="billing_address_update_surname"
                                                   class="checkout_input form-control"
                                                   placeholder="Surname" pattern="^[a-zA-Z ]+$"
                                                   required="required">
                                        </div>
                                    </div>

                                    <!-- Country -->
                                    <div>
                                        <div class="login-text p-b-10" style="color: black;">
                                            Country
                                        </div>

                                        <select name="billing_address_update_country"
                                                id="billing_address_update_country"
                                                class="dropdown_item_select checkout_input"
                                                size= "1" required ="required">
                                            <option value="" selected="selected">SELECT</option>

                                        </select>
                                    </div>

                                    <!-- City Province -->
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <!-- City -->
                                            <div class="login-text p-b-10"
                                                 style="color: black;">
                                                City
                                            </div>

                                            <select name="billing_address_update_city"
                                                    id="billing_address_update_city"
                                                    class="dropdown_item_select checkout_input"
                                                    size="1" required="required">
                                                <option value="" selected="selected">SELECT</option>

                                            </select>
                                        </div>
                                        <div class="col-lg-6">
                                            <!-- Province -->
                                            <div class="login-text p-b-10"
                                                 style="color: black;">
                                                Province
                                            </div>

                                            <select name="billing_address_update_province"
                                                    id="billing_address_update_province"
                                                    class="dropdown_item_select checkout_input"
                                                    size="1" required="required">
                                                <option value="" selected="selected">SELECT</option>
                                            </select>
                                        </div>
                                    </div>

                                    <!-- Neighborhood Zipcode -->
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <!-- Neighborhood -->
                                            <div class="login-text p-b-10"
                                                 style="color: black;">
                                                Neighborhood
                                            </div>

                                            <input type="text"
                                                   id="billing_address_update_neighborhood"
                                                   class="checkout_input form-control"
                                                   required="required">
                                        </div>
                                        <div class="col-lg-6">
                                            <!-- Zipcode -->
                                            <div class="login-text p-b-10"
                                                 style="color: black;">
                                                Zip Code
                                            </div>

                                            <input type="number" id="billing_address_update_zip_code" class="checkout_input form-control" required="required">
                                        </div>
                                    </div>

                                    <!-- Address -->
                                    <div>
                                        <div class="login-text p-b-10" style="color: black;">
                                            Address
                                        </div>
                                        <input type="text" id="billing_update_open_address_1_id"
                                               class="checkout_input form-control"
                                               placeholder="Full Address" required="required">
                                    </div>

                                    <!-- Phone no -->
                                    <div>
                                        <div class="login-text p-b-10" style="color: black;">
                                            Phone
                                            Number
                                        </div>
                                        <input type="text" id="billing_address_update_phone"
                                               class="checkout_input form-control phone_mask"
                                               placeholder="(XXX) XXX XX XX"
                                               required="required">
                                    </div>

                                    <div><!--ERROR--></div>

                                    <!-- Button -->
                                    <input name=submit id="update_billing_address" type="submit" value="UPDATE" class="login_button trans_200">


                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Registered address 2 -->


                <!-- Update address form -->

            </ul>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="address-element-padding">
            <div class="billingAddress">
                <div class="product_content">
                    <div class="row order - row ">
                        <div class="address-title">Delivery Address</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add address button -->
        <div class="address-element-padding">
            <a href="#delivery_address_column" class="trans_200" data-toggle="collapse">
                <div class="billingAddress">
                    <div class="product_content">
                        <div style="align-items: center; justify-content: center"
                             class="row order - row ">
                            <div class="add-address">Add New Address</div>
                            <i style="padding-left: 5px" class="fa fa-plus"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <!-- Address form -->
        <div id="delivery_address_column" class="collapse">

            <div class="address-container">
                <div class="billingAddress">
                    <div class="checkout_form_container">
                        <form action="#" id="delivery_address_form" class="checkout_form">

                            <!-- Address Title -->
                            <div>
                                <div class="login-text p-b-10" style="color: black;">
                                    Address Title
                                </div>

                                <select name="delivery_address_title"
                                        id="delivery_address_title"
                                        class="dropdown_item_select checkout_input"
                                        required="required">
                                    <option value="">SELECT</option>
                                    <option th:each="address_title : ${T(com.oak.bookyourshelf.model.Address.AddressTitle).values()}"
                                            th:value="${address_title}"
                                            th:text="#{${'address_title.' + address_title}}">addressTitle
                                    </option>
                                </select>
                            </div>

                            <!-- Name Surname -->
                            <div class="row">
                                <div class="col-lg-6">
                                    <!-- Name -->
                                    <div class="login-text p-b-10" style="color: black;">
                                        Name
                                    </div>

                                    <input type="text" id="delivery_address_name"
                                           class="checkout_input form-control"
                                           placeholder="Name" pattern="^[a-zA-Z ]+$" required="required">
                                </div>
                                <div class="col-lg-6">
                                    <!-- Surname -->
                                    <div class="login-text p-b-10" style="color: black;">
                                        Surname
                                    </div>

                                    <input type="text" id="delivery_address_surname"
                                           class="checkout_input form-control"
                                           placeholder="Surname" pattern="^[a-zA-Z ]+$"
                                           required="required">
                                </div>
                            </div>

                            <!-- Country -->
                            <div>
                                <div class="login-text p-b-10" style="color: black;">
                                    Country
                                </div>

                                <select name="delivery_address_country"
                                        id="delivery_address_country"
                                        class="dropdown_item_select checkout_input"
                                        size="1" required="required">
                                    <option value="" selected="selected">SELECT</option>

                                </select>
                            </div>

                            <!-- City Province -->
                            <div class="row">
                                <div class="col-lg-6">
                                    <!-- City -->
                                    <div class="login-text p-b-10" style="color: black;">
                                        City
                                    </div>

                                    <select name="delivery_address_city"
                                            id="delivery_address_city"
                                            class="dropdown_item_select checkout_input"
                                            size="1" required="required">
                                        <option value="" selected="selected">SELECT</option>

                                    </select>
                                </div>
                                <div class="col-lg-6">
                                    <!-- Province -->
                                    <div class="login-text p-b-10" style="color: black;">
                                        Province
                                    </div>

                                    <select name="delivery_address_province"
                                            id="delivery_address_province"
                                            class="dropdown_item_select checkout_input"
                                            require="required">
                                        <option value="" selected="selected">SELECT</option>
                                    </select>
                                </div>
                            </div>

                            <!-- Neighborhood Zipcode -->
                            <div class="row">
                                <div class="col-lg-6">
                                    <!-- Neighborhood -->
                                    <div class="login-text p-b-10" style="color: black;">
                                        Neighborhood
                                    </div>

                                    <input type="text" id="delivery_address_neighborhood"
                                           class="checkout_input form-control"
                                           required="required">
                                </div>
                                <div class="col-lg-6">
                                    <!-- Zipcode -->
                                    <div class="login-text p-b-10" style="color: black;">
                                        Zip Code
                                    </div>

                                    <input type="number" id="delivery_address_zip_code" class="checkout_input form-control" required="required">

                                </div>
                            </div>

                            <!-- Address -->
                            <div>
                                <div class="login-text p-b-10" style="color: black;">
                                    Address
                                </div>
                                <input type="text" id="delivery_open_address"
                                       class="checkout_input form-control"
                                       placeholder="Full Address" required="required">
                            </div>

                            <!-- Phone no -->
                            <div>
                                <div class="login-text p-b-10" style="color: black;">Phone
                                    Number
                                </div>
                                <input type="text" id="delivery_address_phone"
                                       class="checkout_input form-control phone_mask"
                                       placeholder="(XXX) XXX XX XX" required="required">
                            </div>

                            <div><!--ERROR--></div>

                            <!-- Button -->
                            <input name=submit id="add_delivery_address" type="submit" value="ADD ADDRESS" class="login_button trans_200">

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Registered addresses -->
        <div>
            <ul>
                <!-- Registered address 1 -->
                <div class="address-element-padding">
                    <div class="billingAddress">
                        <div class="product_content">
                            <li class="row">
                                <div class="col-md-9 registered-address-title">
                                    Workplace
                                </div>
                                <div class="col-md-3">
                                    <a href="#delivery_address_update"
                                       class="trans_200" data-toggle="collapse"><i
                                            style="font-size: 25px; padding-right: 10px"
                                            class="fa fa-pencil"></i></a>
                                    <a href="#" class="trans_200" data-toggle="collapse" id="delete_delivery_address"><i
                                            style="font-size: 25px; color: #4a4a4a"
                                            class="fa product_text">&#xf014;</i></a>
                                </div>
                            </li>
                            <li class="row">
                                <div class="col-md-9 registered-address-content">
                                    Üniversiteler Mahallesi, Hacettepe Beytepe Kampüsü No:21,
                                    06800
                                </div>
                            </li>
                            <li class="row">
                                <div class="col-md-9 registered-address-content">
                                    Çankaya/Ankara
                                </div>
                            </li>
                        </div>
                    </div>
                </div>

                <!-- Update address form -->
                <div id="delivery_address_update" class="collapse">

                    <div class="address-container">
                        <div class="billingAddress">
                            <div class="checkout_form_container">
                                <form action="#" id="delivery_address_update_form"
                                      class="checkout_form">

                                    <!-- Address Title -->
                                    <div>
                                        <div class="login-text p-b-10" style="color: black;">
                                            Address Title
                                        </div>

                                        <select name="delivery_address_update_title"
                                                id="delivery_address_update_title"
                                                class="dropdown_item_select checkout_input"
                                                required ="required">
                                            <option value="">SELECT</option>
                                            <option value="Home">Home</option>
                                            <option value="Workplace">Workplace</option>
                                            <option value="Summery">Summery</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </div>

                                    <!-- Name Surname -->
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <!-- Name -->
                                            <div class="login-text p-b-10"
                                                 style="color: black;">
                                                Name
                                            </div>

                                            <input type="text" id="delivery_address_update_name"
                                                   class="checkout_input form-control"
                                                   placeholder="Name" pattern="^[a-zA-Z ]+$" required="required">
                                        </div>
                                        <div class="col-lg-6">
                                            <!-- Surname -->
                                            <div class="login-text p-b-10"
                                                 style="color: black;">
                                                Surname
                                            </div>

                                            <input type="text"
                                                   id="delivery_address_update_surname"
                                                   class="checkout_input form-control"
                                                   placeholder="Surname" pattern="^[a-zA-Z ]+$" required="required">
                                        </div>
                                    </div>

                                    <!-- Country -->
                                    <div>
                                        <div class="login-text p-b-10" style="color: black;">
                                            Country
                                        </div>

                                        <select name="delivery_address_update_country"
                                                id="delivery_address_update_country"
                                                class="dropdown_item_select checkout_input"
                                                size="1" required ="required">
                                            <option value="" selected="selected">SELECT</option>

                                        </select>
                                    </div>

                                    <!-- City Province -->
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <!-- City -->
                                            <div class="login-text p-b-10"
                                                 style="color: black;">
                                                City
                                            </div>

                                            <select name="delivery_address_update_city"
                                                    id="delivery_address_update_city"
                                                    class="dropdown_item_select checkout_input"
                                                    size="1" required ="required">
                                                <option value="" selcted="selected">SELECT</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-6">
                                            <!-- Province -->
                                            <div class="login-text p-b-10"
                                                 style="color: black;">
                                                Province
                                            </div>

                                            <select name="delivery_address_update_province"
                                                    id="delivery_address_update_province"
                                                    class="dropdown_item_select checkout_input"
                                                    size="1" required ="required">
                                                <option value="" selected="selected">SELECT</option>
                                            </select>
                                        </div>
                                    </div>

                                    <!-- Neighborhood Zipcode -->
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <!-- Neighborhood -->
                                            <div class="login-text p-b-10"
                                                 style="color: black;">
                                                Neighborhood
                                            </div>

                                            <input type="text"
                                                   id="delivery_address_update_neighborhood"
                                                   class="checkout_input form-control"
                                                   pattern="^[a-zA-Z ]+$" required="required">
                                        </div>
                                        <div class="col-lg-6">
                                            <!-- Zipcode -->
                                            <div class="login-text p-b-10"
                                                 style="color: black;">
                                                Zip Code
                                            </div>

                                            <input type="number" id="delivery_address_update_zip_code" class="checkout_input form-control" required="required">

                                        </div>
                                    </div>

                                    <!-- Address -->
                                    <div>
                                        <div class="login-text p-b-10" style="color: black;">
                                            Address
                                        </div>
                                        <input type="text" id="delivery_update_open_address_id"
                                               class="checkout_input form-control"
                                               placeholder="Full Address" required="required">
                                    </div>

                                    <!-- Phone no -->
                                    <div>
                                        <div class="login-text p-b-10" style="color: black;">
                                            Phone
                                            Number
                                        </div>
                                        <input type="tel" id="delivery_address_update_phone"
                                               class="checkout_input form-control phone_mask"
                                               placeholder="(XXX) XXX XX XX" pattern="^[0-9 ]+$"
                                               required="required">
                                    </div>

                                    <div><!--ERROR--></div>

                                    <!-- Button -->
                                    <input name=submit id="update_delivery_address" type="submit" value="UPDATE" class="login_button trans_200">

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>
<br>
<script th:inline="javascript">
    /*<![CDATA[*/
    $('#update_billing_address,#delete_billing_address').click(function (event) {
        var button = $(this).attr("id");
        var name = $('#billing_address_update_name').val();
        var surname = $('#billing_address_update_surname').val();
        var country = $('#billing_address_update_country').val();
        var city = $('#billing_address_update_city').val();
        var province =  $('#billing_address_update_province').val();
        var neighborhood =  $('#billing_address_update_neighborhood').val();
        var zipCode= $('#billing_address_update_zip_code').val();
        var fullAddress =  $('#billing_address_update_open_address_1_id').val();
        var addressTitle = $('#billing_address_update_title').val();
        var phoneNumber = $('#billing_address_update_phone').val();
        var userId = /*[[${user.getUserId()}]]*/ 'default';
        var user = /*[[${user}]]*/ 'default';


        var ret = {

            button: button,
            name: name,
            surname: surname,
            country: country,
            city: city,
            province: province,
            neighborhood: neighborhood,
            zipCode: zipCode,
            fullAddress: fullAddress,
            addressTitle: addressTitle,
            phoneNumber: phoneNumber,
            userId: userId,
            user: user

        };


        if (button === "update_billing_address") {
            $.post("/user-details/address/" + userId , ret, function (data) {
                iziToast.show({
                    title: 'Success',
                    message: 'Address updated successfully',
                    position: 'topRight',
                    color: 'green'
                });
                window.location.href = "/user-details/" + userId + "#address";

            }).fail(function (data) {
                iziToast.show({
                    title: 'Fail',
                    message: data.responseText,
                    position: 'topRight',
                    color: 'red'
                });
            })
        } else if (button === "delete_billing_address") {
            $.post("/user-details/address", ret, function (data) {
                event.preventDefault();
                iziToast.show({
                    title: 'Success',
                    message: 'Address deleted successfully',
                    position: 'topRight',
                    color: 'green'
                });
                window.location.href = "/admin-panel#user";

            }).fail(function (data) {
                iziToast.show({
                    title: 'Fail',
                    message: data.responseText,
                    position: 'topRight',
                    color: 'red'
                });
            })
        }


    });

    /*UPDATE AND DELETE DELIVERY ADDRESS*/
    $('#update_delivery_address,#delete_delivery_address').click(function (event) {

        var button_1 = $(this).attr("id");
        var name = $('#delivery_address_update_name').val();
        var surname = $('#delivery_address_update_surname').val();
        var country = $('#delivery_address_update_country').val();
        var city = $('#delivery_address_update_city').val();
        var province =  $('#delivery_address_update_province').val();
        var neighborhood =  $('#delivery_address_update_neighborhood').val();
        var zipCode= $('#delivery_address_update_zip_code').val();
        var fullAddress =  $('#delivery_update_open_address_id').val();
        var addressTitle = $('#delivery_address_update_title').val();
        var phoneNumber = $('#delivery_address_update_phone').val();
        var userId = /*[[${user.getUserId()}]]*/ 'default';
        var user = /*[[${user}]]*/ 'default';


        var ret = {

            button_1: button_1,
            name: name,
            surname: surname,
            country: country,
            city: city,
            province: province,
            neighborhood: neighborhood,
            zipCode: zipCode,
            fullAddress: fullAddress,
            addressTitle: addressTitle,
            phoneNumber: phoneNumber,
            userId: userId,
            user: user

        };


        if (button_1 === "update_delivery_address") {
            $.post("/user-details/address/" + userId , ret, function (data) {
                event.preventDefault();
                iziToast.show({
                    title: 'Success',
                    message: 'Address updated successfully',
                    position: 'topRight',
                    color: 'green'
                });
                window.location.href = "/user-details/" + userId + "#address";

            }).fail(function (data) {
                iziToast.show({
                    title: 'Fail',
                    message: data.responseText,
                    position: 'topRight',
                    color: 'red'
                });
            })
        } else if (button_1 === "delete_delivery_address") {
            $.post("/user-details/address", ret, function (data) {
                event.preventDefault();
                iziToast.show({
                    title: 'Success',
                    message: 'Address deleted successfully',
                    position: 'topRight',
                    color: 'green'
                });
                window.location.href = "/admin-panel#user";

            }).fail(function (data) {
                iziToast.show({
                    title: 'Fail',
                    message: data.responseText,
                    position: 'topRight',
                    color: 'red'
                });
            })
        }


    });

    /*ADD BILLING ADDRESS*/
    $('#add_billing_address').click(function (event) {
        var button_2 = $(this).attr("id");
        var name = $('#billing_address_name').val();
        var surname = $('#billing_address_surname').val();
        var country = $('#billing_address_country').val();
        var city = $('#billing_address_city').val();
        var province =  $('#billing_address_province').val();
        var neighborhood =  $('#billing_address_neighborhood').val();
        var zipCode= $('#billing_address_zip_code').val();
        var fullAddress =  $('#billing_open_address').val();
        var addressTitle =  $('#billing_address_title').val().toUpperCase().split(" ").join("_");
        var phoneNumber = $('#billing_address_phone').val();
        var userId = /*[[${user.getUserId()}]]*/ 'default';
        var user = /*[[${user}]]*/ 'default';

        var ret = {

            button_2: button_2,
            name: name,
            surname: surname,
            country: country,
            city: city,
            province: province,
            neighborhood: neighborhood,
            zipCode: zipCode,
            fullAddress: fullAddress,
            phoneNumber: phoneNumber,
            addressTitle: addressTitle,
            userId: userId,
            user: user

        };




        if (button_2 === "add_billing_address" ) {
            if(validation_check(["billing_address_name","billing_address_surname","billing_open_address","billing_address_neighborhood"])) {
                $.post("/user-details/address/" + userId, ret, function (data) {
                    event.preventDefault();
                    iziToast.show({
                        title: 'Success',
                        message: 'Address added successfully',
                        position: 'topRight',
                        color: 'green'
                    });
                    window.location.href = "/user-details/" + userId + "#address";

                }).fail(function (data) {
                    iziToast.show({
                        title: 'Fail',
                        message: data.responseText,
                        position: 'topRight',
                        color: 'red'
                    });
                })
            }
        }
    });

    /*ADD Delivery ADDRESS*/
    $('#add_delivery_address').click(function (event) {
        var button_3 = $(this).attr("id");
        var name = $('#delivery_address_name').val();
        var surname = $('#delivery_address_surname').val();
        var country = $('#delivery_address_country').val();
        var city = $('#delivery_address_city').val();
        var province =  $('#delivery_address_province').val();
        var neighborhood =  $('#delivery_address_neighborhood').val();
        var zipCode= $('#delivery_address_zip_code').val();
        var fullAddress =  $('#delivery_open_address').val();
        var addressTitle = $('#delivery_address_title').val().toUpperCase().split(" ").join("_");
        var phoneNumber = $('#delivery_address_phone').val();
        var userId = /*[[${user.getUserId()}]]*/ 'default';
        var user = /*[[${user}]]*/ 'default';

        var ret = {

            button_3: button_3,
            name: name,
            surname: surname,
            country: country,
            city: city,
            province: province,
            neighborhood: neighborhood,
            zipCode: zipCode,
            fullAddress: fullAddress,
            addressTitle: addressTitle,
            phoneNumber: phoneNumber,
            userId: userId,
            user: user

        };


        if (button_3 === "add_delivery_address") {
            $.post("/user-details/address/" + userId , ret, function (data) {
                event.preventDefault();
                iziToast.show({
                    title: 'Success',
                    message: 'Address added successfully',
                    position: 'topRight',
                    color: 'green'
                });
                window.location.href = "/user-details/" + userId + "#address";

            }).fail(function (data) {
                iziToast.show({
                    title: 'Fail',
                    message: data.responseText,
                    position: 'topRight',
                    color: 'red'
                });
            })
        }
    });


    function validation_check(arr) {
        for (var i = 0; i < arr.length; i++) {
            if (!document.getElementById(arr[i]).checkValidity()) {
                return false;
            }
        }
        return true;
    }

    /*]]>*/
</script>
<script>
    var countryStateInfo = {
        "USA": {
            "California": {
                "Los Angeles": ["90001", "90002", "90003", "90004"],
                "San Diego": ["92093", "92101"],
                "Beverly Hills": ["23453","90098"],
                "San Fransisco": ["98789"]

            },
            "Texas": {
                "Dallas": ["75201", "75202"],
                "Austin": ["73301", "73344"],
                "Huston": ["90876"]
            },

            "Nevada": {
                "Las Vegas": ["75200"],
                "Carson City": ["75000"]
            },

            "New York": {
                "Queens": ["78200"]
            }
        },
        "India": {
            "Assam": {
                "Dispur": ["781005"],
                "Guwahati" : ["781030", "781030"]
            },
            "Gujarat": {
                "Vadodara" : ["390011", "390020"],
                "Surat" : ["395006", "395002"]
            }
        }
    }


    window.onload = function () {

        //Get html elements
        var countySel = document.getElementById("delivery_address_country");
        var stateSel = document.getElementById("delivery_address_city");
        var citySel = document.getElementById("delivery_address_province");
        var zipSel = document.getElementById("");

        //Load countries
        for (var country in countryStateInfo) {
            countySel.options[countySel.options.length] = new Option(country, country);
        }

        //County Changed
        countySel.onchange = function () {

            stateSel.length = 1; // remove all options bar first
            citySel.length = 1; // remove all options bar first
            zipSel.length = 1; // remove all options bar first

            if (this.selectedIndex < 1)
                return; // done

            for (var state in countryStateInfo[this.value]) {
                stateSel.options[stateSel.options.length] = new Option(state, state);
            }
        }

        //State Changed
        stateSel.onchange = function () {

            citySel.length = 1; // remove all options bar first
            zipSel.length = 1; // remove all options bar first

            if (this.selectedIndex < 1)
                return; // done

            for (var city in countryStateInfo[countySel.value][this.value]) {
                citySel.options[citySel.options.length] = new Option(city, city);
            }
        }

        //City Changed
        citySel.onchange = function () {
            zipSel.length = 1; // remove all options bar first

            if (this.selectedIndex < 1)
                return; // done

            var zips = countryStateInfo[countySel.value][stateSel.value][this.value];
            for (var i = 0; i < zips.length; i++) {
                zipSel.options[zipSel.options.length] = new Option(zips[i], zips[i]);
            }
        }
    }


    </script>

</html>