<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<form action="/user-details/message" th:object="${PersonalMessage}" class="form-contact form-review mt-3"
      method="post">
    <div class="form-group">
        <input class="form-control" name="subject" type="text"
               placeholder="Enter Subject" required="" th:field="*{subject}">
    </div>
    <div class="form-group">
                                <textarea class="form-control different-control w-100" name="textarea"
                                          id="textarea" cols="30" rows="5"
                                          placeholder="Enter Message" required=""></textarea>
    </div>
    <p>
        Note 1: This message will be sent to the user
    </p>
    <p>
        Note 2: E-mail will be sent from oak.bookyourshelf@gmail.com
    </p>
    <br>
    <div class="row">
        <div class="col-lg-4">
            <input name=submit id="sms" type="submit" value="Send SMS" class="login_button trans_200">
        </div>

        <div class="col-lg-4">
            <input name=submit id="mail" type="submit" value="Send E-mail" class="login_button trans_200">

        </div>

        <div class="col-lg-4">
            <input name=submit id="SmsAndMail" type="submit" value="Send SMS & E-mail"
                   class="login_button trans_200">
        </div>
    </div>
    <br/>
    <br/>
</form>

<script>
    $('#sms ,#mail ,#SmsAndMail').click(function (event) {
        event.preventDefault();
        var subject = $('#subject_area').val();
        var text = $('#textarea').val();
        var submit = $(this).attr("id");

        var ret = {
            subject: subject,
            text: text,
            submit: submit
        };

        $.post("/user-details/message", ret, function (data) {
            iziToast.show({
                title: 'Success',
                message: 'Message sent successfully.',
                position: 'topRight',
                color: 'green'
            });
            window.location.href = "/user-details#message";
        }).fail(function (data) {
            iziToast.show({
                title: 'Fail',
                message: data.responseText,
                position: 'topRight',
                color: 'red'
            });
        })
    });
</script>
</html>