<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<!-- Sort orders -->
<div class="products_bar_side d-flex flex-row align-items-start justify-content-start ml-lg-auto">
    <div class="products_dropdown product_dropdown_sorting">
        <div class="isotope_sorting_text"><span>Sort</span><i
                class="fa fa-caret-down" aria-hidden="true"></i></div>
        <ul style="text-align: start">
            <li class="item_sorting_btn" id="date"
                data-isotope-option='{ "sortBy": "original-order" }'>Date
            </li>
            <li class="item_sorting_btn" id="searchValue" data-isotope-option='{ "sortBy": "search-value" }'>Search Value</li>
            <li class="item_sorting_btn" id="totalSearch" data-isotope-option='{ "sortBy": "total-search" }'>Total Search</li>
        </ul>
    </div>
</div>

<br>

<div class="table-responsive">
    <table>
        <tr>
            <th>Search Value</th>
            <th>Total Search</th>
        </tr>
        <tr th:each="searchValue: ${keyPage.content}">
            <td th:text="${searchValue}"></td>
            <td th:text="${user.getSearchHistory().get(searchValue)}"></td>
        </tr>

    </table>
</div>

<!-- No search -->
<div class="warning-text" style="display: none">There are no searches.</div>

<div class="row page_nav_row">
    <div class="col">
        <div class="page_nav">
            <ul class="d-flex flex-row align-items-start justify-content-center">
                <div th:if="${keyPage.totalPages > 0}" th:each="pageNumber : ${pageNumbers}">
                    <li ><a th:href="@{/user-details#search( size=${keyPage.size}, id=${user.userId},page=${pageNumber})}"
                            th:text="${pageNumber}"
                            th:class="${pageNumber==keyPage.number + 1} ? active"></a></li>
                </div>
            </ul>
        </div>
    </div>
</div>


</html>