<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<!-- Sort orders -->
<div class="products_bar_side d-flex flex-row align-items-start justify-content-start ml-lg-auto">
    <div class="products_dropdown product_dropdown_sorting">
        <div class="isotope_sorting_text"><span>Sort</span><i
                class="fa fa-caret-down" aria-hidden="true"></i></div>
        <ul style="text-align: start">
            <li class="item_sorting_btn"
                data-isotope-option='{ "sortBy": "original-order" }'>Date
            </li>
            <li class="item_sorting_btn" data-isotope-option='{ "sortBy": "search-value" }'>Search Value</li>
            <li class="item_sorting_btn" data-isotope-option='{ "sortBy": "total-search" }'>Total Search</li>
        </ul>
    </div>
</div>

<br>

<div class="table-responsive">
    <table>
        <tr>
            <th>Search Value</th>
            <th>Total Search</th>
        </tr>
        <tr th:each="searchValue: ${searchValues}">
            <td th:text="${searchValue.key}"></td>
            <td th:text="${searchValue.value}"></td>
        </tr>

    </table>
</div>

<!-- No search -->
<div class="warning-text" style="display: none">There are no searches.</div>
<div class="row page_nav_row">
    <div class="col">
        <div class="page_nav">
            <ul class="d-flex flex-row align-items-start justify-content-center">
                <li class="active"><a href="#">1</a></li>
                <li><a href="#" style="color: #fbaa1d;">2</a></li>
                <li><a href="#" style="color: #fbaa1d;">3</a></li>
                <li><a href="#" style="color: #fbaa1d;">4</a></li>
            </ul>
        </div>
    </div>
</div>
</html>