<!DOCTYPE html>
<html lang="en">
<head>
    <title>Product Compare | Book Your Shelf</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Little Closet template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="styles/bootstrap-4.1.2/bootstrap.min.css">
    <link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Favicon  -->
    <link rel="icon" href="images/logo/book_your_shelf_tab.png">
    <link rel="stylesheet" type="text/css" href="plugins/flexslider/flexslider.css">
    <link rel="stylesheet" type="text/css" href="styles/cart.css">
    <link rel="stylesheet" type="text/css" href="styles/product.css">
    <link rel="stylesheet" type="text/css" href="styles/product_responsive.css">
    <link rel="stylesheet" type="text/css" href="styles/responsive.css">
    <link rel="stylesheet" type="text/css" href="styles/core-style.css">
    <link rel="stylesheet" type="text/css" href="styles/util.css">
    <link rel="stylesheet" type="text/css" href="styles/single-product.css">
    <link rel="stylesheet" type="text/css" href="styles/star.css">
    <link rel="stylesheet" type="text/css" href="styles/compare.css">
</head>
<body>
<!-- Header -->
<header class="header_area">
    <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
        <!-- Classy Menu -->
        <nav class="classy-navbar" id="essenceNav">
            <!-- Logo -->
            <a href="index.html" class="book_your_shelf_logo">
                <img src="images/logo/book_your_shelf_logo.png" alt="">
            </a>
            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
                <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>
            <!-- Menu -->
            <div class="classy-menu">
                <!-- close btn -->
                <div class="classycloseIcon">
                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                </div>
                <!-- Nav Start -->
                <div class="classynav">
                    <ul>
                        <li><a href="#">Book</a>
                            <div class="megamenu">
                                <ul class="single-mega cn-col-4">
                                    <li class="title">Categories</li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Literature</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Novel</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Children and Youth</a>
                                    </li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Science</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Comic Book</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Religion Sufism</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Course/Exam Books</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Philosophy</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Foreign Languages</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow" style="font-weight: bold">
                                        Book Cases
                                    </a></li>
                                </ul>
                                <ul class="single-mega cn-col-4">
                                    <li class="title">Campaigns</li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Literature Day</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Black Friday</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Home Reading Festival</a>
                                    </li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Up to 40% Discount at
                                        İşbank Cultural Publications & İşbank Science Publications</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">40% Discount on Bilgi
                                        Publishing House Classics</a></li>
                                </ul>
                                <ul class="single-mega cn-col-4">
                                    <li class="title">Hot Lists</li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Best Sellers</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">New Releases</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Our Picks For You</a></li>
                                </ul>
                                <div class="single-mega cn-col-4">
                                    <img src="images/icons/01brownbookicon.jpg" alt="">
                                </div>
                            </div>
                        </li>
                        <li><a href="#">E-Book</a>
                            <div class="megamenu">
                                <ul class="single-mega cn-col-4">
                                    <li class="title">Categories</li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Fiction and Literature</a>
                                    </li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Health and Care</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Literature and Writing</a>
                                    </li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Life Style</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Sports and Recreation</a>
                                    </li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Science Fiction and
                                        Fantasy</a></li>
                                </ul>
                                <ul class="single-mega cn-col-4">
                                    <li class="title">Campaigns</li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Black Friday</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Sports Day</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">%40 Discount on Science
                                        Fiction and Fantasy</a></li>
                                </ul>
                                <ul class="single-mega cn-col-4">
                                    <li class="title">Hot Lists</li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Best Sellers</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">New Releases</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Our Picks For You</a></li>
                                </ul>
                                <div class="single-mega cn-col-4">
                                    <img src="images/icons/01brownebookicon.jpg" alt="">
                                </div>
                            </div>
                        </li>
                        <li><a href="#">Audio Book</a>
                            <div class="megamenu">
                                <ul class="single-mega cn-col-4">
                                    <li class="title">Categories</li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Mystery and Suspicion</a>
                                    </li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Romance</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Literature</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Children and Youth</a>
                                    </li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Cartoons and Comics</a>
                                    </li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Business and Finance</a>
                                    </li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Biography and Memory</a>
                                    </li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Romantic</a></li>
                                </ul>
                                <ul class="single-mega cn-col-4">
                                    <li class="title">Campaigns</li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Black Friday</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Cartoons and Comics
                                        Day</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">%20 on Romantic</a></li>
                                </ul>
                                <ul class="single-mega cn-col-4">
                                    <li class="title">Hot Lists</li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Best Sellers</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">New Releases</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Our Picks For You</a></li>
                                </ul>
                                <div class="single-mega cn-col-4">
                                    <img src="images/icons/01brownaudiobookicon.jpg" alt="">
                                </div>
                            </div>
                        </li>
                        <li><a href="#">E-Book Reader</a>
                            <div class="megamenu">
                                <ul class="single-mega cn-col-4">
                                    <li class="title">Categories</li>
                                    <li><a href="category.html">Kobo</a></li>
                                    <li><a href="category.html">Calibro</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow" style="font-weight: bold">
                                        E-Book Reader Cases
                                    </a></li>
                                </ul>
                                <ul class="single-mega cn-col-4">
                                    <li class="title">Campaigns</li>
                                    <li><a href="category.html">Black Friday</a></li>
                                    <li><a href="category.html">E-Book Reader Day</a></li>
                                </ul>
                                <ul class="single-mega cn-col-4">
                                    <li class="title">Hot Lists</li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Best Sellers</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">New Releases</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Our Picks For You</a></li>
                                </ul>
                                <div class="single-mega cn-col-4">
                                    <img src="images/icons/01brownebookicon.jpg" alt="">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- Nav End -->
            </div>
        </nav>

        <!-- Header Meta Data -->
        <div class="header-meta d-flex clearfix justify-content-end">
            <!-- Search Area -->
            <div class="search-area">
                <form action="#" method="post">
                    <input type="search" name="search" id="headerSearch" placeholder="Type for search">
                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div>

            <!-- User Area -->
            <div class="user-button-dropdown user-login-info">
                <a href=""><img src="images/core-img/user.svg" alt=""></a>
                <div class="user-button-dropdown-content">
                    <a href="register.html" style="line-height: 40px">Register</a>
                    <a href="login.html" style="line-height: 40px">Login</a>
                    <a href="profile.html" style="line-height: 40px">Profile</a>
                    <a href="admin-panel.html" style="line-height: 40px">Panel</a>
                    <a href="index.html" style="line-height: 40px">Logout</a>
                </div>
            </div>

            <!-- Favourite Area -->
            <div class="favourite-area">
                <a href="wish-list.html"><img src="images/core-img/heart.svg" alt=""></a>
            </div>

            <!-- Cart Area -->
            <div class="cart-area">
                <a href="cart.html" id="essenceCartBtn"><img src="images/core-img/bag.svg" alt="">
                    <span>3</span></a>
            </div>
        </div>
    </div>
</header>

<div class="super_container">

    <div class="super_container_inner">
        <div class="super_overlay"></div>

        <!-- Breadcrumbs -->
        <div class="container">
            <div class="row products_bar_row">
                <div class="col">
                    <div class="products_bar d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-start justify-content-center">
                        <div class="breadcrumbs d-flex flex-column align-items-center justify-content-center">
                            <ul class="d-flex flex-row align-items-start justify-content-start text-center">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="product.html">Animal Farm</a></li>
                                <li style="color: #fbaa1d">Compare</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Product -->
        <div class="product_panel">
            <div class="container">
                <div class="row">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th style="width: 20.0%">Book</th>
                            <th style="width: 40.0%">
                                <div>
                                    <div class="product_image"><img src="images/hayvan_ciftligi.jpg"
                                                                    alt="" class="product_image_img">
                                    </div>
                                </div>
                                Animal Farm
                            </th>
                            <th style="width: 40.0%">
                                <div>
                                    <div class="product_image"><img src="images/sineklerin_tanrisi.jpg"
                                                                    alt="" class="product_image_img">
                                    </div>
                                </div>
                                Lord of the Flies
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Author</th>
                            <td>George Orwell</td>
                            <td>William Golding</td>
                        </tr>
                        <tr>
                            <th scope="row">Stars</th>
                            <td>
                                <i class="fa fa-star" style="color:#4a4a4a"></i>
                                <i class="fa fa-star" style="color:#4a4a4a"></i>
                                <i class="fa fa-star-half-full" style="color:#4a4a4a"></i>
                                <i class="fa fa-star-o" style="color:#4a4a4a"></i>
                                <i class="fa fa-star-o" style="color:#4a4a4a"></i>
                                2.5 out of (143)
                            </td>
                            <td>
                                <i class="fa fa-star" style="color:#4a4a4a"></i>
                                <i class="fa fa-star" style="color:#4a4a4a"></i>
                                <i class="fa fa-star" style="color:#4a4a4a"></i>
                                <i class="fa fa-star-o" style="color:#4a4a4a"></i>
                                <i class="fa fa-star-o" style="color:#4a4a4a"></i>
                                3 out of (334)
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Language</th>
                            <td>English</td>
                            <td>English</td>
                        </tr>
                        <tr>
                            <th scope="row">Translator</th>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Publisher</th>
                            <td>Can Yayınları</td>
                            <td>Can Yayınları</td>
                        </tr>
                        <tr>
                            <th scope="row">Paper Type</th>
                            <td>Coated</td>
                            <td>Uncoated</td>
                        </tr>
                        <tr>
                            <th scope="row">Binding Type</th>
                            <td>Saddle Stitching</td>
                            <td>Saddle Stitching</td>
                        </tr>
                        <tr>
                            <th scope="row">Size</th>
                            <td>14x21</td>
                            <td>14x21</td>
                        </tr>
                        <tr>
                            <th scope="row">Number of Edition</th>
                            <td>2017</td>
                            <td>2014</td>
                        </tr>
                        <tr>
                            <th scope="row">Page Number</th>
                            <td>132</td>
                            <td>645</td>
                        </tr>
                        <tr>
                            <th scope="row">Media Type</th>
                            <td>Hardcover</td>
                            <td>Softcover</td>
                        </tr>
                        <tr>
                            <th scope="row">ISBN</th>
                            <td>654541536565</td>
                            <td>684654134167</td>
                        </tr>
                        <tr>
                            <th scope="row">Short Description</th>
                            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec consequat lorem.
                                Maecenas elementum at diam consequat bibendum.
                            </td>
                            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec consequat lorem.
                                Maecenas elementum at diam consequat bibendum.
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Barcode</th>
                            <td>869465164665</td>
                            <td>869654646444</td>
                        </tr>
                        <tr>
                            <th scope="row">Price</th>
                            <td>₺15.99</td>
                            <td>₺17.99</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <!-- Footer -->
        <footer class="footer">
            <div class="footer_content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 footer_col"></div>

                        <!-- About -->
                        <div class="col-lg-4 footer_col">
                            <div class="footer_about">
                                <div class="footer_logo">
                                    <div class="d-flex flex-row align-items-center justify-content-center">
                                        <img class="book_your_shelf_footer" src="images/logo/book_your_shelf_logo.png"
                                             alt="">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Footer Links -->
                        <div class="col-lg-4 footer_col">
                            <ul class="footer_list">
                                <li>
                                    <a href="membership.html" target="_blank">
                                        <div>Terms and Conditions</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="mailto: oak.bookyourshelf@gmail.com">
                                        <div>Contact</div>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-lg-2 footer_col"></div>
                    </div>
                </div>
            </div>
            <div class="footer_bar">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="footer_bar_content d-flex flex-md-row flex-column align-items-center justify-content-center">
                                <div class="copyright order-md-1 order-2">
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;<script>
                                    document.write(new Date().getFullYear());
                                </script>
                                    All rights reserved | This template is made with <i
                                        class="fa fa-heart-o" aria-hidden="true"></i> by <a
                                        href="https://colorlib.com" target="_blank" class="orange-text">Colorlib</a> &
                                    <b class="orange-text">Oak</b>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="styles/bootstrap-4.1.2/popper.js"></script>
<script src="styles/bootstrap-4.1.2/bootstrap.min.js"></script>
<script src="js/plugins.js"></script>
<script src="plugins/greensock/TweenMax.min.js"></script>
<script src="plugins/greensock/TimelineMax.min.js"></script>
<script src="plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="plugins/greensock/animation.gsap.min.js"></script>
<script src="plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="plugins/easing/easing.js"></script>
<script src="plugins/progressbar/progressbar.min.js"></script>
<script src="plugins/parallax-js-master/parallax.min.js"></script>
<script src="plugins/flexslider/jquery.flexslider-min.js"></script>
<script src="js/classy-nav.min.js"></script>
<script src="js/product.js"></script>
<script src="js/active.js"></script>
<script src="js/input-mask.js"></script>
<script src="js/jquery.mask.js"></script>
</body>
</html>