<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- TODO name -->
    <title>Payment | Book Your Shelf</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Little Closet template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon  -->
    <link rel="icon" href="images/logo/book_your_shelf_tab.png">
    <link rel="stylesheet" type="text/css" href="styles/bootstrap-4.1.2/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="plugins/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="styles/checkout.css">
    <link rel="stylesheet" type="text/css" href="styles/cart.css">
    <link rel="stylesheet" type="text/css" href="styles/checkout_responsive.css">
    <link rel="stylesheet" type="text/css" href="styles/responsive.css">
    <link rel="stylesheet" type="text/css" href="styles/core-style.css">
    <link rel="stylesheet" type="text/css" href="styles/util.css">
    <link rel="stylesheet" type="text/css" href="styles/payment.css">
</head>

<body>
<!-- Header -->
<header class="header_area" th:insert="fragments/header.html"></header>

<div class="super_container">

    <div class="super_container_inner">
        <div class="super_overlay"></div>

        <!-- Breadcrumbs -->
        <div class="container">
            <div class="row products_bar_row">
                <div class="col">
                    <div
                            class="products_bar d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-start justify-content-center">
                        <div class="breadcrumbs d-flex flex-column align-items-center justify-content-center">
                            <ul class="d-flex flex-row align-items-start justify-content-start text-center">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                                <li style="color: #fbaa1d">Payment</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Payment -->
        <div class="container m-45-btm">
            <div class="row">
                <aside class="col-md-1"></aside>
                <aside class="col-md-10">
                    <article class="card">
                        <div class="card-body p-5">
                            <ul class="nav bg-light nav-pills rounded nav-fill mb-3" role="tablist">
                                <li class="nav-item col-md-4 p-all-0">
                                    <a class="nav-link active accent-color" data-toggle="pill" href="#nav-tab-card">
                                        <i class="tab_icons fa fa-credit-card"></i> Bank-Credit-PTT Card</a></li>
                                <li class="nav-item col-md-4 p-all-0">
                                    <a class="nav-link accent-color" data-toggle="pill" href="#nav-tab-paypal">
                                        <i class="tab_icons fa fa-paypal"></i> PayPal</a></li>
                                <li class="nav-item col-md-4 p-all-0">
                                    <a class="nav-link accent-color" data-toggle="pill" href="#nav-tab-bank">
                                        <i class="tab_icons fa fa-university"></i> Bank Transfer</a></li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="nav-tab-card">
                                    <p class="alert alert-success d-none">Some text success or error</p>
                                    <br>
                                    <form role="form" action="#" th:action="@{pay}" th:object="${creditCard}" method="post">
                                        <div class="form-group">
                                            <label>Full Name On the Card</label>
                                            <input type="text" class="checkout_input form-control" name="name"
                                                   required="" th:field="*{fullName}">
                                        </div>

                                        <div class="form-group">
                                            <label>Card Number</label>
                                            <div class="input-group">
                                                <input type="text" class="checkout_input form-control credit-card"
                                                       name="card-number" required="" th:field="*{cardNumber}">
                                                <div class="input-group-append">
                                                        <span class="input-group-text text-muted">
                                                            <i class="fa fa-cc-visa"></i>   <i
                                                                class="fa fa-cc-amex"></i>
                                                            <i class="fa fa-cc-mastercard"></i>
                                                        </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label><span class="hidden-xs">Expiration Date</span> </label>
                                            <div class="input-group">
                                                <select name="billing_address_title" id="expiration-month"
                                                        class="dropdown_item_select checkout_input form-control"
                                                        require="">
                                                    <option>MONTH</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                    <option>6</option>
                                                    <option>7</option>
                                                    <option>8</option>
                                                    <option>9</option>
                                                    <option>10</option>
                                                    <option>11</option>
                                                    <option>12</option>
                                                </select>

                                                <select name="billing_address_title" id="expiration-year"
                                                        class="dropdown_item_select checkout_input form-control"
                                                        require="">
                                                    <option>YEAR</option>
                                                    <option>2020</option>
                                                    <option>2021</option>
                                                    <option>2022</option>
                                                    <option>2023</option>
                                                    <option>2024</option>
                                                    <option>2025</option>
                                                    <option>2026</option>
                                                    <option>2027</option>
                                                    <option>2028</option>
                                                    <option>2029</option>
                                                    <option>2030</option>
                                                    <option>2031</option>
                                                    <option>2032</option>
                                                    <option>2033</option>
                                                    <option>2034</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label data-toggle="tooltip" title=""
                                                   data-original-title="3-digit number on the back side of the card.">CVV
                                                <i class="fa fa-question-circle"></i></label>
                                            <input type="text" class="checkout_input form-control cvv"
                                                   required="" th:field="*{cvv}">
                                        </div>

                                        <input type="submit" value="Confirm" class="checkout_button trans_200">
                                    </form>
                                </div>

                                <div class="tab-pane fade" id="nav-tab-paypal">
                                    <div class="checkout_button trans_200"><a target="_blank"
                                                                              href="https://www.paypal.com/tr/signin">
                                        Login my Paypal</a></div>
                                    <br>
                                    <p><strong>Note:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing
                                        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                </div>
                                <div class="tab-pane fade" id="nav-tab-bank">
                                    <br>
                                    <dl class="param">
                                        <dt>Bank:</dt>
                                        <dd> THE WORLD BANK</dd>
                                    </dl>
                                    <dl class="param">
                                        <dt>Account Number:</dt>
                                        <dd> 1234 1234 1234 1234</dd>
                                    </dl>
                                    <dl class="param">
                                        <dt>IBAN:</dt>
                                        <dd> 1234 1234 1234 1234</dd>
                                    </dl>
                                    <p><strong>Note:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing
                                        elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. </p>
                                </div>
                            </div>
                        </div>
                    </article>
                </aside>
                <aside class="col-md-1"></aside>
            </div>
        </div>

        <!-- Footer -->
        <footer class="footer" th:insert="fragments/footer.html"></footer>
    </div>
</div>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="styles/bootstrap-4.1.2/popper.js"></script>
<script src="styles/bootstrap-4.1.2/bootstrap.min.js"></script>
<script src="js/plugins.js"></script>
<script src="plugins/greensock/TweenMax.min.js"></script>
<script src="plugins/greensock/TimelineMax.min.js"></script>
<script src="plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="plugins/greensock/animation.gsap.min.js"></script>
<script src="plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="plugins/easing/easing.js"></script>
<script src="plugins/parallax-js-master/parallax.min.js"></script>
<script src="js/checkout.js"></script>
<script src="js/classy-nav.min.js"></script>
<script src="js/custom.js"></script>
<script src="js/active.js"></script>
<script src="js/input-mask.js"></script>
<script src="js/jquery.mask.js"></script>
</body>

</html>