<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>Subcategory Details | Book Your Shelf</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Little Closet template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/static/styles/bootstrap-4.1.2/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/plugins/font-awesome-4.7.0/css/font-awesome.min.css}">
    <!-- Favicon  -->
    <link rel="icon" th:href="@{/static/images/logo/book_your_shelf_tab.png}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/plugins/OwlCarousel2-2.2.1/owl.carousel.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/plugins/OwlCarousel2-2.2.1/owl.theme.default.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/plugins/OwlCarousel2-2.2.1/animate.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/styles/user-details.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/styles/cart.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/styles/cart_responsive.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/styles/main_styles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/styles/responsive.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/styles/core-style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/styles/util.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/styles/checkout.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/styles/login.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/styles/profile.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/styles/admin-panel.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/styles/iziToast.min.css}">

</head>

<body>
<!-- Header -->
<header class="header_area">
    <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
        <!-- Classy Menu -->
        <nav class="classy-navbar" id="essenceNav">
            <!-- Logo -->
            <a href="/" class="book_your_shelf_logo">
                <img th:src="@{/static/images/logo/book_your_shelf_logo.png}" alt="">
            </a>
            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
                <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>
            <!-- Menu -->
            <div class="classy-menu">
                <!-- close btn -->
                <div class="classycloseIcon">
                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                </div>
                <!-- Nav Start -->
                <div class="classynav">
                    <ul>
                        <li><a href="#">Book</a>
                            <div class="megamenu">
                                <ul class="single-mega cn-col-4">
                                    <li class="title">Categories</li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Literature</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Novel</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Children and Youth</a>
                                    </li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Science</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Comic Book</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Religion Sufism</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Course/Exam Books</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Philosophy</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Foreign Languages</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow" style="font-weight: bold">
                                        Book Cases
                                    </a></li>
                                </ul>
                                <ul class="single-mega cn-col-4">
                                    <li class="title">Campaigns</li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Literature Day</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Black Friday</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Home Reading Festival</a>
                                    </li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Up to 40% Discount at
                                        İşbank Cultural Publications & İşbank Science Publications</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">40% Discount on Bilgi
                                        Publishing House Classics</a></li>
                                </ul>
                                <ul class="single-mega cn-col-4">
                                    <li class="title">Hot Lists</li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Best Sellers</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">New Releases</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Our Picks For You</a></li>
                                </ul>
                                <div class="single-mega cn-col-4">
                                    <img th:src="@{/static/images/icons/01brownbookicon.jpg}" alt="">
                                </div>
                            </div>
                        </li>
                        <li><a href="#">E-Book</a>
                            <div class="megamenu">
                                <ul class="single-mega cn-col-4">
                                    <li class="title">Categories</li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Fiction and Literature</a>
                                    </li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Health and Care</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Literature and Writing</a>
                                    </li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Life Style</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Sports and Recreation</a>
                                    </li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Science Fiction and
                                        Fantasy</a></li>
                                </ul>
                                <ul class="single-mega cn-col-4">
                                    <li class="title">Campaigns</li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Black Friday</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Sports Day</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">%40 Discount on Science
                                        Fiction and Fantasy</a></li>
                                </ul>
                                <ul class="single-mega cn-col-4">
                                    <li class="title">Hot Lists</li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Best Sellers</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">New Releases</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Our Picks For You</a></li>
                                </ul>
                                <div class="single-mega cn-col-4">
                                    <img th:src="@{/static/images/icons/01brownebookicon.jpg}" alt="">
                                </div>
                            </div>
                        </li>
                        <li><a href="#">Audio Book</a>
                            <div class="megamenu">
                                <ul class="single-mega cn-col-4">
                                    <li class="title">Categories</li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Mystery and Suspicion</a>
                                    </li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Romance</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Literature</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Children and Youth</a>
                                    </li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Cartoons and Comics</a>
                                    </li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Business and Finance</a>
                                    </li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Biography and Memory</a>
                                    </li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Romantic</a></li>
                                </ul>
                                <ul class="single-mega cn-col-4">
                                    <li class="title">Campaigns</li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Black Friday</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Cartoons and Comics
                                        Day</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">%20 on Romantic</a></li>
                                </ul>
                                <ul class="single-mega cn-col-4">
                                    <li class="title">Hot Lists</li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Best Sellers</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">New Releases</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Our Picks For You</a></li>
                                </ul>
                                <div class="single-mega cn-col-4">
                                    <img th:src="@{/static/images/icons/01brownaudiobookicon.jpg}" alt="">
                                </div>
                            </div>
                        </li>
                        <li><a href="#">E-Book Reader</a>
                            <div class="megamenu">
                                <ul class="single-mega cn-col-4">
                                    <li class="title">Categories</li>
                                    <li><a href="category.html">Kobo</a></li>
                                    <li><a href="category.html">Calibro</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow" style="font-weight: bold">
                                        E-Book Reader Cases
                                    </a></li>
                                </ul>
                                <ul class="single-mega cn-col-4">
                                    <li class="title">Campaigns</li>
                                    <li><a href="category.html">Black Friday</a></li>
                                    <li><a href="category.html">E-Book Reader Day</a></li>
                                </ul>
                                <ul class="single-mega cn-col-4">
                                    <li class="title">Hot Lists</li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Best Sellers</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">New Releases</a></li>
                                    <li><a href="category.html" class="nav-bar-text-overflow">Our Picks For You</a></li>
                                </ul>
                                <div class="single-mega cn-col-4">
                                    <img th:src="@{/static/images/icons/01brownebookicon.jpg}" alt="">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- Nav End -->
            </div>
        </nav>

        <!-- Header Meta Data -->
        <div class="header-meta d-flex clearfix justify-content-end">
            <!-- Search Area -->
            <div class="search-area">
                <form action="#" method="post">
                    <input type="search" name="search" id="headerSearch" placeholder="Type for search">
                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div>

            <!-- User Area -->
            <div class="user-button-dropdown user-login-info">
                <a href=""><img th:src="@{/static/images/core-img/user.svg}" alt=""></a>
                <div class="user-button-dropdown-content">
                    <div sec:authorize="isAnonymous()">
                        <a href="/register" style="line-height: 40px">Register</a>
                        <a href="/login" style="line-height: 40px">Login</a>
                    </div>
                    <div sec:authorize="hasRole('ROLE_ADMIN')">
                        <a href="/admin-panel" style="line-height: 40px">Panel</a>
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <a href="/profile" style="line-height: 40px">Profile</a>
                        <a href="/perform_logout" style="line-height: 40px">Logout</a>
                    </div>
                </div>
            </div>

            <!-- Favourite Area -->
            <div class="favourite-area">
                <a href="wish-list.html"><img th:src="@{/static/images/core-img/heart.svg}" alt=""></a>
            </div>

            <!-- Cart Area -->
            <div class="cart-area">
                <a href="cart.html" id="essenceCartBtn"><img th:src="@{/static/images/core-img/bag.svg}" alt="">
                    <span>3</span></a>
            </div>
        </div>
    </div>
</header>


<div class="super_container">
    <div class="super_container_inner">
        <div class="super_overlay"></div>

        <!-- Breadcrumbs -->
        <div class="container">
            <div class="row products_bar_row">
                <div class="col">
                    <div class="products_bar d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-start justify-content-center">
                        <div class="breadcrumbs d-flex flex-column align-items-center justify-content-center">
                            <ul class="d-flex flex-row align-items-start justify-content-start text-center">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="admin-panel.html">Panel</a></li>
                                <!-- TODO Name -->
                                <li style="color: #fbaa1d">Literature</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="product_description_area">
            <div class="container">
                <ul class="nav nav-tabs justify-content-center" id="siteTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active profile-navbar-text"
                           th:href="@{#information}">Information</a>
                    </li>
                </ul>
                <br>
                <br>
                <div class="tab-content" id="myTabContent">

                    <!-- Information -->
                    <div class="tab-pane active" id="information">
                        <div class="address-element-padding">
                            <div class="billingAddress">
                                <div class="product_content">

                                    <!-- ID -->
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="tab-title-text align-items-center">
                                                ID
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="row">
                                                <div class="col-lg-11 tab-content-text">
                                                    <h th:text="${subcategory.id}"></h>
                                                </div>
                                                <!-- Buttons -->
                                                <div class="col-lg-1">
                                                    <div class="row">
                                                        <!-- Update button -->
                                                        <a href="#category-info-update"
                                                           class="trans_200" data-toggle="collapse"><i
                                                                style="font-size: 25px; padding-right: 10px"
                                                                class="fa fa-pencil"></i></a>
                                                        <!-- Delete button -->
                                                        <button type="submit" value="&#xf014;"
                                                                class="trans_200 fa product_text"
                                                                id="deleteSubcategory"
                                                                style="font-size: 25px; color: #4a4a4a"
                                                                data-toggle="collapse">
                                                            &#xf014;
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Name -->
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="tab-title-text">
                                                Name
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="tab-content-text">
                                                <h th:text="${subcategory.name}"></h>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Total Products -->
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="tab-title-text">
                                                Total Products
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="tab-content-text">
                                                <h th:text="${subcategory.itemNum}"></h>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Total Subcategories -->
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="tab-title-text">
                                                Total Subcategories
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="tab-content-text">
                                                <h th:text="${subcategory.subcategories.size()}"></h>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Update information form -->
                        <div id="category-info-update" class="collapse">

                            <div class="address-container">
                                <div class="billingAddress">
                                    <div class="checkout_form_container">
                                        <form action="#" id="category-info-update-form" class="checkout_form">


                                            <!-- Category Name -->
                                            <div>
                                                <div class="login-text p-b-10" style="color: black;">
                                                    Subcategory Name
                                                </div>
                                                <input type="text" id="category-name-update"
                                                       class="login_input form-control"
                                                       required="required" th:value="${subcategory.name}">
                                            </div>

                                            <div><!--ERROR--></div>

                                            <!-- Button -->
                                            <input name=submit id="updateSubcategory" type="submit" value="UPDATE"
                                                   class="login_button trans_200">

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- Footer -->
        <footer class="footer">
            <div class="footer_content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 footer_col"></div>

                        <!-- About -->
                        <div class="col-lg-4 footer_col">
                            <div class="footer_about">
                                <div class="footer_logo">
                                    <div class="d-flex flex-row align-items-center justify-content-center">
                                        <img class="book_your_shelf_footer"
                                             th:src="@{/static/images/logo/book_your_shelf_logo.png}"
                                             alt="">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Footer Links -->
                        <div class="col-lg-4 footer_col">
                            <ul class="footer_list">
                                <li>
                                    <a href="membership.html" target="_blank">
                                        <div>Terms and Conditions</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="mailto: oak.bookyourshelf@gmail.com">
                                        <div>Contact</div>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-lg-2 footer_col"></div>
                    </div>
                </div>
            </div>
            <div class="footer_bar">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="footer_bar_content d-flex flex-md-row flex-column align-items-center justify-content-center">
                                <div class="copyright order-md-1 order-2">
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;<script>
                                    document.write(new Date().getFullYear());
                                </script>
                                    All rights reserved | This template is made with <i
                                        class="fa fa-heart-o" aria-hidden="true"></i> by <a
                                        href="https://colorlib.com" target="_blank" class="orange-text">Colorlib</a> &
                                    <b class="orange-text">Oak</b>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

<script th:src="@{/static/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/static/styles/bootstrap-4.1.2/popper.js}"></script>
<script th:src="@{/static/styles/bootstrap-4.1.2/bootstrap.min.js}"></script>
<script th:src="@{/static/js/plugins.js}"></script>
<script th:src="@{/static/plugins/greensock/TweenMax.min.js}"></script>
<script th:src="@{/static/plugins/greensock/TimelineMax.min.js}"></script>
<script th:src="@{/static/plugins/scrollmagic/ScrollMagic.min.js}"></script>
<script th:src="@{/static/plugins/greensock/animation.gsap.min.js}"></script>
<script th:src="@{/static/plugins/greensock/ScrollToPlugin.min.js}"></script>
<script th:src="@{/static/plugins/OwlCarousel2-2.2.1/owl.carousel.js}"></script>
<script th:src="@{/static/plugins/easing/easing.js}"></script>
<script th:src="@{/static/plugins/progressbar/progressbar.min.js}"></script>
<script th:src="@{/static/plugins/parallax-js-master/parallax.min.js}"></script>
<script th:src="@{/static/js/classy-nav.min.js}"></script>
<script th:src="@{/static/js/custom.js}"></script>
<script th:src="@{/static/js/active.js}"></script>
<script th:src="@{/static/js/checkout.js}"></script>
<script th:src="@{/static/js/login.js}"></script>
<script th:src="@{/static/js/select.js}"></script>
<script th:src="@{/static/js/iziToast.min.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    $('#updateSubcategory,#deleteSubcategory').click(function (event) {
        event.preventDefault();
        var button = $(this).attr("id");
        var subcategoryId = /*[[${subcategory.getId()}]]*/ 'default';
        var name = $('#category-name-update').val();
        var productType = $('#category_product_type option:selected').val();
        var ret = {
            name: name,
            button: button
        };

        if (button === "updateSubcategory") {
            $.post("/subcategory-details/" + subcategoryId, ret, function (data) {
                iziToast.show({
                    title: 'Success',
                    message: 'Subcategory ' + name + ' updated successfully.',
                    position: 'topRight',
                    color: 'green'
                });
                window.location.href = "/subcategory-details/" + subcategoryId;
                setTimeout(function () {
                    history.pushState(null, null, ' ');
                }, 100);
            }).fail(function (data) {
                iziToast.show({
                    title: 'Fail',
                    message: data.responseText,
                    position: 'topRight',
                    color: 'red'
                });
            })
        } else if (button === "deleteSubcategory") {
            if (confirm('Are you sure you want to delete?')) {
                $.post("/subcategory-details/" + subcategoryId, ret, function (data) {
                    iziToast.show({
                        title: 'Success',
                        message: 'Subcategory ' + name + ' removed successfully.',
                        position: 'topRight',
                        color: 'green'
                    });
                    window.location.href = "/admin-panel";
                }).fail(function (data) {
                    iziToast.show({
                        title: 'Fail',
                        message: data.responseText,
                        position: 'topRight',
                        color: 'red'
                    });
                })
            } else {
                window.location.href = "/admin-panel";
            }
        }

    })
    /*]]>*/
</script>
</body>

</html>