<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Thank You | Book Your Shelf</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Little Closet template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon  -->
    <link rel="icon" href="images/logo/book_your_shelf_tab.png">
    <link rel="stylesheet" type="text/css" href="styles/bootstrap-4.1.2/bootstrap.min.css">
    <link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" type="text/css" href="styles/checkout.css">
    <link rel="stylesheet" type="text/css" href="styles/checkout_responsive.css">
    <link rel="stylesheet" type="text/css" href="styles/responsive.css">
    <link rel="stylesheet" type="text/css" href="styles/core-style.css">
    <link rel="stylesheet" type="text/css" href="styles/util.css">
</head>
<body>
<!-- Header -->
<header class="header_area" th:insert="fragments/header.html"></header>

<div class="super_container">

    <div class="super_container_inner">
        <div class="super_overlay"></div>

        <!-- Thank You -->
        <div class="site-section" style="padding: 50px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 text-center"></div>
                    <div class="col-md-6 text-center">
                        <span class="icon-check_circle display-3 text-success"></span>
                        <h2 class="display-3 text-black">Thank you!</h2>
                        <p class="lead mb-5">Your order was successfully completed.</p>
                        <p class="lead mb-5"> Our Book Your Shelf application is certified with Payment Card Industry Data Security Standards (PCI DSS).
                                              We assure you that your credit card information will be kept confidential and will not be leaked by any means.
                                              For more information please refer to our <a href="/privacy_policy" target="_blank" style="text-decoration: none; color:#fbaa1d;
                                               background:#FFFFFF"> Privacy Policy</a></p>
                        <p class="lead mb-5">
                            <h3>Shipping Information</h3>
                            <div>
                                <span>Name: </span><span><td th:text="${user.getName()}"></td></span>
                            </div>
                            <div>
                                <span>Surname: </span><span><td th:text="${user.getSurname()}"></td></span>
                            </div>
                            <div>
                                <span>Shipping Company: </span><span><td th:text="${order.getShippingCompany()}"></td></span>
                            </div>
                            <div>
                                <span>Shipping Method: </span><span><td th:text="${order.getShippingMethod()}"></td></span>
                            </div>
                            <div>
                                <span>Shipping Price: </span>
                                    <span th:if="${order.getTotalAmount() > 100}"><td th:text="${'Free'}"></td></span>
                                    <span th:unless="${order.getTotalAmount() > 100}"><td th:text="${'6.99'}"></td></span>
                            </div>
                            Order will be delivered in the next 3 working days.
                        </p>
                        <div class="checkout_button trans_200"><a href="/">Back to shop</a></div>
                    </div>
                    <div class="col-md-3 text-center"></div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer class="footer" th:insert="fragments/footer.html"></footer>
    </div>
</div>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="styles/bootstrap-4.1.2/popper.js"></script>
<script src="styles/bootstrap-4.1.2/bootstrap.min.js"></script>
<script src="js/plugins.js"></script>
<script src="plugins/greensock/TweenMax.min.js"></script>
<script src="plugins/greensock/TimelineMax.min.js"></script>
<script src="plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="plugins/greensock/animation.gsap.min.js"></script>
<script src="plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="plugins/easing/easing.js"></script>
<script src="plugins/parallax-js-master/parallax.min.js"></script>
<script src="js/classy-nav.min.js"></script>
<script src="js/custom.js"></script>
<script src="js/checkout.js"></script>
<script src="js/active.js"></script>

</body>
</html>