<div class="address-element-padding">
    <div class="billingAddress">
        <div class="product_content">

            <!-- ID -->
            <div class="row">
                <div class="col-lg-3">
                    <div class="tab-title-text align-items-center">
                        ID
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-11 tab-content-text">
                            2
                        </div>
                        <!-- Buttons -->
                        <div class="col-lg-1">
                            <div class="row">
                                <!-- Update button -->
                                <a href="#category-info-update"
                                   class="trans_200" data-toggle="collapse"><i
                                        style="font-size: 25px; padding-right: 10px"
                                        class="fa fa-pencil"></i></a>
                                <!-- Delete button -->
                                <a href="#" class="trans_200" data-toggle="collapse"><i
                                        style="font-size: 25px; color: #4a4a4a"
                                        class="fa product_text">&#xf014;</i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Product Type -->
            <div class="row">
                <div class="col-lg-3">
                    <div class="tab-title-text">
                        Product Type
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="tab-content-text">
                        Book
                    </div>
                </div>
            </div>

            <!-- Name -->
            <div class="row">
                <div class="col-lg-3">
                    <div class="tab-title-text">
                        Name
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="tab-content-text">
                        Literature
                    </div>
                </div>
            </div>

            <!-- Total Products -->
            <div class="row">
                <div class="col-lg-3">
                    <div class="tab-title-text">
                        Total Products
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="tab-content-text">
                        4
                    </div>
                </div>
            </div>

            <!-- Total Subcategories -->
            <div class="row">
                <div class="col-lg-3">
                    <div class="tab-title-text">
                        Total Subcategories
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="tab-content-text">
                        2
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Update information form -->
<div id="category-info-update" class="collapse">

    <div class="address-container">
        <div class="billingAddress">
            <div class="checkout_form_container">
                <form action="#" id="category-info-update-form" class="checkout_form">

                    <!-- Product Type -->
                    <div>
                        <div class="login-text p-b-10" style="color: black;">
                            Product Type
                        </div>

                        <select name="book_type" id="category_product_type"
                                class="dropdown_item_select checkout_input"
                                require="required">
                            <option>Select Product Type</option>
                            <option selected>Book</option>
                            <option>E-Book</option>
                            <option>Audio Book</option>
                            <option>E-Book Reader</option>
                            <option>E-Book Reader Case</option>
                            <option>Book Case</option>
                        </select>
                    </div>

                    <!-- Category Name -->
                    <div>
                        <div class="login-text p-b-10" style="color: black;">
                            Category Name
                        </div>
                        <input type="text" id="category-name-update"
                               class="login_input form-control"
                               required="required" value="Literature">
                    </div>

                    <div><!--ERROR--></div>

                    <!-- Button -->
                    <div class="login_button trans_200"><a href="#">Update</a></div>

                </form>
            </div>
        </div>
    </div>
</div>
<br>
