<!-- Cover Photo -->
<div class="address-element-padding">
    <div class="billingAddress">
        <div class="product_content">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="tab-title-text">
                        Cover Photo
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <div class="media">
                    <div class="media-body row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-9">
                            <div class="product_image"
                                 style="width: 100px;height: 200px;"><img
                                    src="images/hayvan_ciftligi.jpg" alt=""
                                    class="product_image_img">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <a href="#" class="trans_200" data-toggle="collapse"><i
                                    style="font-size: 30px; color: #4a4a4a"
                                    class="fa product_text">&#xf014;</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <label for="cover-photo" class="login_button trans_200">
                    <a class="choose_file_button">Upload Cover Photo</a>
                </label>
                <input id="cover-photo" onchange="updatePhoto(this.id);"
                       style="visibility:hidden;" type="file">
                <p>Selected file:</p>
                <div id="cover-photo-list"></div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>
<!-- Product Photos -->
<div class="address-element-padding">
    <div class="billingAddress">
        <div class="product_content">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="tab-title-text">
                        Product Photos
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <div class="media">
                        <div class="media-body row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-9">
                                <div class="product_image" style="width: 100px; height: 200px;">
                                    <img src="images/hayvan_ciftligi_2.jpg" alt=""
                                         class="product_image_img">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <a href="#" class="trans_200" data-toggle="collapse"><i
                                        style="font-size: 30px; color: #4a4a4a"
                                        class="fa product_text">&#xf014;</i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="media">
                        <div class="media-body row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-9">
                                <div class="product_image" style="width: 100px; height: 200px;">
                                    <img src="images/hayvan_ciftligi_3.jpg" alt=""
                                         class="product_image_img">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <a href="#" class="trans_200" data-toggle="collapse"><i
                                        style="font-size: 30px; color: #4a4a4a"
                                        class="fa product_text">&#xf014;</i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <label for="product-photos" class="login_button trans_200">
                        <a class="choose_file_button">Upload Product Photos</a>
                    </label>
                    <input multiple id="product-photos"
                           onchange="updatePhoto(this.id);"
                           style="visibility:hidden;" type="file">
                    <p>Selected files:</p>
                    <div id="product-photos-list"></div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="col-md-12 address-element-padding">
    <div class="login_button trans_200"><a href="#">Update</a>
    </div>
</div>
<br>
<br>
                    