<html lang="en" xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" type="text/css" th:href="@{/static/styles/bootstrap-4.1.2/bootstrap-multiselect.css}">
<!-- Add hot list button -->
<div class="address-element-padding">
    <a href="#new_hot_list" class="trans_200" data-toggle="collapse">
        <div class="billingAddress">
            <div class="product_content">
                <div style="align-items: center; justify-content: center"
                     class="row order - row ">
                    <div class="add-address">Add New Hot List</div>
                    <i style="padding-left: 5px" class="fa fa-plus"></i>
                </div>
            </div>
        </div>
    </a>
</div>

<!-- Category form -->
<div id="new_hot_list" class="collapse">

    <div class="address-container">
        <div class="billingAddress">
            <div class="checkout_form_container">
                <form action="#" id="new_hot_list_form" class="checkout_form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="login-text p-b-10" style="color: black;">
                                Product Type
                            </div>

                            <select name="product_type" id="category_product_type"
                                    class="dropdown_item_select checkout_input"
                                    required="required" th:field="${hotList.productType}">
                                <option value="">Select Product Type</option>
                                <option th:each="ctgry : ${T(com.oak.bookyourshelf.model.Category.ProductType).values()}"
                                        th:value="${ctgry}"
                                        th:text="#{${'category.' + ctgry}}">productType
                                </option>
                            </select>
                        </div>
                        <div id="thumb0" style="display: none" onclick="productType()"></div>
                        <div class="col-md-6">
                            <!-- Category -->
                            <div>
                                <div class="login-text p-b-10" style="color: black;">
                                    Category
                                </div>
                                <select name="new_hot_list_categories" class="dropdown_item_select checkout_input"
                                        id="new_hot_list_categories" multiple="multiple"
                                        require="required">
                                    <option th:each="category : ${categoryService.getAllByCategory('Book')}"
                                            th:value="${category.getName()}"
                                            th:text="${category.getName()}">category
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="login-text p-b-10" style="color: black;">
                                Hot List Type
                            </div>
                            <select name="new_hot_list_type" id="new_hot_list_type"
                                    class="dropdown_item_select checkout_input"
                                    require="required" th:field="${hotList.hotListType}">
                                <option value="">Select Hot List Type</option>
                                <option value="">Best Sellers</option>
                                <option value="">New Releases</option>
                                <option value="">Our Picks For You</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <div class="login-text p-b-10" style="color: black;">
                                Number of Products
                            </div>
                            <input type="number" id="new_hot_list_product_number"
                                   class="checkout_input form-control" min="1"
                                   placeholder="Number of Products" required="required">
                        </div>
                    </div>

                    <!-- Start -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="login-text p-b-10" style="color: black;">
                                Hot List Start Date
                            </div>
                            <input type="text" id="new_hot_list_start_date"
                                   class="checkout_input form-control date"
                                   placeholder="dd/mm/yyyy">
                        </div>
                        <div class="col-md-6">
                            <div class="login-text p-b-10" style="color: black;">
                                Hot List Start Time
                            </div>
                            <input type="text" id="new_hot_list_start_time"
                                   class="checkout_input form-control time"
                                   placeholder="hh:mm">
                        </div>
                    </div>

                    <!-- End -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="login-text p-b-10" style="color: black;">
                                Hot List End Date
                            </div>
                            <input type="text" id="new_hot_list_end_date"
                                   class="checkout_input form-control date"
                                   placeholder="dd/mm/yyyy">
                        </div>
                        <div class="col-md-6">
                            <div class="login-text p-b-10" style="color: black;">
                                Hot List End Time
                            </div>
                            <input type="text" id="new_hot_list_end_time"
                                   class="checkout_input form-control time"
                                   placeholder="hh:mm">
                        </div>
                    </div>

                    <div><!--ERROR--></div>

                    <!-- Button -->
                    <input type="submit" class="login_button trans_200" value="Add Campaign" id="new_hotList_button">
                </form>
            </div>
        </div>
    </div>
</div>
<span th:if="${hotListPage.totalPages>0}">
<!-- Sort orders -->
<div class="products_bar_side d-flex flex-row align-items-end justify-content-end ml-lg-auto">
    <div class="products_dropdown product_dropdown_sorting">
        <div class="isotope_sorting_text"><span>Sort</span><i
                class="fa fa-caret-down" aria-hidden="true"></i></div>
        <ul>
            <li class="item_sorting_btn"
                data-isotope-option='{ "sortBy": "original-order" }'>ID
            </li>
            <li class="item_sorting_btn" data-isotope-option='{ "sortBy": "name" }'>Category
            </li>
            <li class="item_sorting_btn" data-isotope-option='{ "sortBy": "product-num" }'>
                Number of Products
            </li>
        </ul>
    </div>
    <div class="products_dropdown text-right product_dropdown_filter">
        <div class="isotope_filter_text"><span>Filter</span><i class="fa fa-caret-down"
                                                               aria-hidden="true"></i></div>
        <ul>
            <li class="item_filter_btn" data-filter="*">All</li>
            <li class="item_filter_btn" data-filter=".ongoing">Ongoing</li>
            <li class="item_filter_btn" data-filter=".ended">Ended</li>
            <li class="item_filter_btn" data-filter=".ended">Best Sellers</li>
            <li class="item_filter_btn" data-filter=".ended">New Releases</li>
            <li class="item_filter_btn" data-filter=".ended">Our Picks For You</li>
        </ul>
    </div>
</div>

<br>

<div>
    <div class="row order - row ">

        <div class="col-lg-3 col-md-3 col-xs-6">
            <div class="profile-order-title">ID</div>
        </div>

        <div class="col-lg-3 col-md-3 col-xs-6">
            <div class="profile-order-title">Category</div>
        </div>

        <div class="col-lg-3 col-md-3 col-xs-6">
            <div class="profile-order-title">Hot List Type</div>
        </div>

        <div class="col-lg-3 col-md-3 col-xs-6">
            <div class="profile-order-title">Number of Products</div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="orderDetailBox">
             <tr th:each="hotList: ${hotListPage.content}">
            <!-- Category -->
            <div class="address-element-padding">
               <a th:href="@{'/hotList-details/' + ${hotList.id}}">
                    <div class="category-element">
                        <div class="product_content">
                            <div class="row order - row collapsible">
                                <div class="col-lg-3 col-md-3 col-xs-6">
                                    <div class="profile-order-text">
                                        <td th:text="${hotList.getId()}"></td>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-xs-6">
                                    <div class="profile-order-text">Literature, Novel</div>
                                </div>

                                <div class="col-lg-3 col-md-3 col-xs-6">
                                    <div class="profile-order-text">Best Sellers</div>
                                </div>

                                <div class="col-lg-3 col-md-3 col-xs-6">
                                    <div class="profile-order-text">
                                        <td th:text="${hotList.getProductNum()}"></td>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
             </tr>
        </div>
    </div>
</div>



<div class="row page_nav_row">
    <div class="col">
        <div class="page_nav">
            <ul class="d-flex flex-row align-items-start justify-content-center">

                <!-- Previous button -->
                    <li th:style="${currentPage == 1} ? 'display:none'">
                        <a th:href="@{/admin-panel#hotList(size=${hotListPage.size}, page=${currentPage - 1})}"
                           aria-label="Previous" title="Previous Page" rel="tooltip">
                            <i class="pagination_arrow fa fa-angle-left"></i>
                        </a>
                    </li>

                <!-- First page -->
                    <li th:if="${hotListPage.totalPages > 0}"
                        th:class="${currentPage == 1} ? 'active'">
                        <a th:href="@{/admin-panel#hotList(size=${hotListPage.size}, page=${1})}"
                           th:title="${'Page '+ 1}"
                           th:text="${1}" style="color: #fbaa1d;">
                        </a>
                    </li>

                    <li th:if="${currentPage - 3 > 1}" class="pagination_dots">...</li>

                <!-- Pages -->
                    <li th:if="${hotListPage.totalPages > 2}"
                        th:each="i : ${#numbers.sequence(currentPage - 2 > 1 ? currentPage - 2 : 2
                                        , hotListPage.totalPages > 2 + currentPage ? currentPage + 2 : hotListPage.totalPages - 1, 1)}"
                        th:class="${currentPage == i} ? 'active'">
                        <a th:href="@{/admin-panel#hotList(size=${hotListPage.size}, page=${i})}"
                           th:text="${i}" th:title="${'Page '+ i}" style="color: #fbaa1d;"></a>
                    </li>

                    <li th:if="${currentPage + 3 < hotListPage.totalPages}" class="pagination_dots">...</li>

                <!-- Last page -->
                    <li th:if="${hotListPage.totalPages > 1}"
                        th:class="${currentPage == hotListPage.totalPages} ? 'active'">
                        <a th:href="@{/admin-panel#hotList(size=${hotListPage.size}, page=${hotListPage.totalPages})}"
                           th:text="${hotListPage.totalPages}" style="color: #fbaa1d;"
                           th:title="${'Page '+ hotListPage.totalPages}">
                        </a>
                    </li>

                <!-- Next button -->
                    <li th:style="${currentPage == hotListPage.totalPages} ? 'display:none'">
                        <a th:href="@{/admin-panel#hotList(size=${hotListPage.size}, page=${currentPage + 1})}"
                           aria-label="Next" title="Next Page" rel="tooltip">
                            <i class="pagination_arrow fa fa-angle-right"></i>
                        </a>
                    </li>

            </ul>
        </div>
    </div>
</div>
    </span>


<!-- No categories -->
<span th:unless="${hotListPage.totalPages >0}">
<div class="warning-text">There are no campaigns.</div>
</span>

<script>

    $('#new_hotList_button').click(function (event) {


        var x = document.getElementById("new_hot_list_categories");
        var category = [];
        for (var i = 0; i < x.options.length; i++) {
            if (x.options[i].selected === true) {
                category.push(x.options[i].value);
            }
        }
        console.log(category);
        var ctg = String(category[0]);
        for (var j = 1; j < category.length; j++) {
            ctg += ("-");
            ctg += (String(category[j]));
        }
        console.log(ctg);
        var ret = {

            productNum: $('#new_hot_list_product_number').val(),
            startDate: $('#new_hot_list_start_date').val(),
            endDate: $('#new_hot_list_end_date').val(),
            productType: $('#category_product_type option:selected').val(),
            startTime: $('#new_hot_list_start_time').val(),
            endTime: $('#new_hot_list_end_time').val(),
            ctg: ctg


        };


        if (validation_check(["new_hot_list_product_number", "new_hot_list_start_date", "new_hot_list_end_date"
        ])) {
            event.preventDefault();
            $.post("/admin-panel/hotList", ret, function (data) {
                iziToast.show({
                    title: 'Success',
                    message: 'Hot List added successfully.',
                    position: 'topRight',
                    color: 'green'
                });
                window.location.href = "/admin-panel#hotList";
                setTimeout(function () {
                    history.pushState(null, null, ' ');
                }, 100);

            }).fail(function (data) {
                iziToast.show({
                    title: 'Fail',
                    message: data.responseText,
                    position: 'topRight',
                    color: 'red'
                });
            })
        }
    });

    function validation_check(arr) {
        for (var i = 0; i < arr.length; i++) {
            if (!document.getElementById(arr[i]).checkValidity()) {
                return false;
            }
        }
        return true;
    }
</script>


<script th:src="@{/static/js/login.js}"></script>
<script th:src="@{/static/js/input-mask.js}"></script>
<script th:src="@{/static/js/checkbox-dropdown.js}"></script>
<script th:src="@{/static/js/bootstrap-multiselect.js}"></script>

</html>