<form action="#" class="form-contact form-review mt-3">
    <div class="form-group">
        <input class="form-control" name="subject" type="text"
               placeholder="Enter Subject">
    </div>
    <div class="form-group">
                                <textarea class="form-control different-control w-100" name="textarea"
                                          id="textarea" cols="30" rows="5"
                                          placeholder="Enter Message"></textarea>
    </div>
    <p>
        Note 1: This message will be sent to all Book Your Shelf users
    </p>
    <p>
        Note 2: E-mail will be sent from oak.bookyourshelf@gmail.com
    </p>
    <br>
    <div class="row">
        <div class="col-lg-4">
            <div class="login_button trans_200"><a href="#">Send SMS</a></div>
        </div>

        <div class="col-lg-4">
            <div class="login_button trans_200"><a href="#">Send E-mail</a></div>

        </div>

        <div class="col-lg-4">
            <div class="login_button trans_200"><a href="#">Send SMS & E-mail</a></div>
        </div>
    </div>
    <br/>
    <br/>
</form>