<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Sort orders -->
<div class="products_bar_side d-flex flex-row align-items-end justify-content-end ml-lg-auto">
    <div class="products_dropdown product_dropdown_sorting">
        <div class="isotope_sorting_text"><span>Sort</span><i
                class="fa fa-caret-down" aria-hidden="true"></i></div>
        <ul>
            <li class="item_sorting_btn">
                <a th:href="@{/admin-panel#pending-order(size=${orderPage.size},
                                                            page=${1},
                                                            sort=${'time-desc'},
                                                            optionFilter=${optionFilter},
                                                            statusFilter=${statusFilter})}"
                   th:text="'Decreasing by Order Time'"
                   th:style="${sort == 'time-desc'} ? 'color:#1f5b70'">
                </a>
            </li>

            <li class="item_sorting_btn">
                <a th:href="@{/admin-panel#pending-order(size=${orderPage.size},
                                                            page=${1},
                                                            sort=${'time-asc'},
                                                            optionFilter=${optionFilter},
                                                            statusFilter=${statusFilter})}"
                   th:text="'Increasing by Order Time'"
                   th:style="${sort == 'time-asc'} ? 'color:#1f5b70'">
                </a>
            </li>

            <li class="item_sorting_btn">
                <a th:href="@{/admin-panel#pending-order(size=${orderPage.size},
                                                            page=${1},
                                                            sort=${'ID-desc'},
                                                            optionFilter=${optionFilter},
                                                            statusFilter=${statusFilter})}"
                   th:text="'Decreasing by User ID'"
                   th:style="${sort == 'ID-desc'} ? 'color:#1f5b70'">
                </a>
            </li>

            <li class="item_sorting_btn">
                <a th:href="@{/admin-panel#pending-order(size=${orderPage.size},
                                                            page=${1},
                                                            sort=${'ID-asc'},
                                                            optionFilter=${optionFilter},
                                                            statusFilter=${statusFilter})}"
                   th:text="'Increasing by User ID'"
                   th:style="${sort == 'ID-asc'} ? 'color:#1f5b70'">
                </a>
            </li>

            <li class="item_sorting_btn">
                <a th:href="@{/admin-panel#pending-order(size=${orderPage.size},
                                                            page=${1},
                                                            sort=${'price-desc'},
                                                            optionFilter=${optionFilter},
                                                            statusFilter=${statusFilter})}"
                   th:text="'Decreasing by Total Price'"
                   th:style="${sort == 'price-desc'} ? 'color:#1f5b70'">
                </a>
            </li>

            <li class="item_sorting_btn">
                <a th:href="@{/admin-panel#pending-order(size=${orderPage.size},
                                                            page=${1},
                                                            sort=${'price-asc'},
                                                            optionFilter=${optionFilter},
                                                            statusFilter=${statusFilter})}"
                   th:text="'Increasing by Total Price'"
                   th:style="${sort == 'price-asc'} ? 'color:#1f5b70'">
                </a>
            </li>

            <li class="item_sorting_btn">
                <a th:href="@{/admin-panel#pending-order(size=${orderPage.size},
                                                            page=${1},
                                                            sort=${'company-asc'},
                                                            optionFilter=${optionFilter},
                                                            statusFilter=${statusFilter})}"
                   th:text="'A - Z Shipping Company'"
                   th:style="${sort == 'company-asc'} ? 'color:#1f5b70'">
                </a>
            </li>

            <li class="item_sorting_btn">
                <a th:href="@{/admin-panel#pending-order(size=${orderPage.size},
                                                            page=${1},
                                                            sort=${'company-desc'},
                                                            optionFilter=${optionFilter},
                                                            statusFilter=${statusFilter})}"
                   th:text="'Z - A Shipping Company'"
                   th:style="${sort == 'company-desc'} ? 'color:#1f5b70'">
                </a>
            </li>
        </ul>
    </div>

    <div class="products_dropdown product_dropdown_filter">
        <div class="isotope_filter_text"><span>Payment Option Filter</span><i class="fa fa-caret-down"
                                                                              aria-hidden="true"></i>
        </div>
        <ul>
            <li class="item_filter_btn">
                <a th:href="@{/admin-panel#pending-order(size=${orderPage.size},
                                                            page=${1},
                                                            sort=${sort},
                                                            optionFilter=${'all'},
                                                            statusFilter=${statusFilter})}"
                   th:text="'All'" th:style="${optionFilter == 'all'} ? 'color:#1f5b70'">
                </a>
            </li>
            <li class="item_filter_btn">
                <a th:href="@{/admin-panel#pending-order(size=${orderPage.size},
                                                            page=${1},
                                                            sort=${sort},
                                                            optionFilter=${'card'},
                                                            statusFilter=${statusFilter})}"
                   th:text="'Credit Card'" th:style="${optionFilter == 'card'} ? 'color:#1f5b70'">
                </a>
            </li>
            <li class="item_filter_btn">
                <a th:href="@{/admin-panel#pending-order(size=${orderPage.size},
                                                            page=${1},
                                                            sort=${sort},
                                                            optionFilter=${'paypal'},
                                                            statusFilter=${statusFilter})}"
                   th:text="'PayPal'" th:style="${optionFilter == 'paypal'} ? 'color:#1f5b70'">
                </a>
            </li>
            <li class="item_filter_btn">
                <a th:href="@{/admin-panel#pending-order(size=${orderPage.size},
                                                            page=${1},
                                                            sort=${sort},
                                                            optionFilter=${'ptt'},
                                                            statusFilter=${statusFilter})}"
                   th:text="'via PTT'" th:style="${optionFilter == 'ptt'} ? 'color:#1f5b70'">
                </a>
            </li>
        </ul>
    </div>

    <div class="products_dropdown product_dropdown_filter">
        <div class="isotope_filter_text"><span>Payment Status Filter</span><i class="fa fa-caret-down"
                                                                              aria-hidden="true"></i>
        </div>
        <ul>
            <li class="item_filter_btn">
                <a th:href="@{/admin-panel#pending-order(size=${orderPage.size},
                                                            page=${1},
                                                            sort=${sort},
                                                            optionFilter=${optionFilter},
                                                            statusFilter=${'all'})}"
                   th:text="'All'" th:style="${statusFilter == 'all'} ? 'color:#1f5b70'">
                </a>
            </li>
            <li class="item_filter_btn">
                <a th:href="@{/admin-panel#pending-order(size=${orderPage.size},
                                                            page=${1},
                                                            sort=${sort},
                                                            optionFilter=${optionFilter},
                                                            statusFilter=${'pending'})}"
                   th:text="'Pending'" th:style="${statusFilter == 'pending'} ? 'color:#1f5b70'">
                </a>
            </li>
            <li class="item_filter_btn">
                <a th:href="@{/admin-panel#pending-order(size=${orderPage.size},
                                                            page=${1},
                                                            sort=${sort},
                                                            optionFilter=${optionFilter},
                                                            statusFilter=${'processed'})}"
                   th:text="'Processed'" th:style="${statusFilter == 'processed'} ? 'color:#1f5b70'">
                </a>
            </li>
            <li class="item_filter_btn">
                <a th:href="@{/admin-panel#pending-order(size=${orderPage.size},
                                                            page=${1},
                                                            sort=${sort},
                                                            optionFilter=${optionFilter},
                                                            statusFilter=${'completed'})}"
                   th:text="'Completed'" th:style="${statusFilter == 'completed'} ? 'color:#1f5b70'">
                </a>
            </li>
            <li class="item_filter_btn">
                <a th:href="@{/admin-panel#pending-order(size=${orderPage.size},
                                                            page=${1},
                                                            sort=${sort},
                                                            optionFilter=${optionFilter},
                                                            statusFilter=${'refunded'})}"
                   th:text="'Refunded'" th:style="${statusFilter == 'refunded'} ? 'color:#1f5b70'">
                </a>
            </li>
            <li class="item_filter_btn">
                <a th:href="@{/admin-panel#pending-order(size=${orderPage.size},
                                                            page=${1},
                                                            sort=${sort},
                                                            optionFilter=${optionFilter},
                                                            statusFilter=${'failed'})}"
                   th:text="'Failed'" th:style="${statusFilter == 'failed'} ? 'color:#1f5b70'">
                </a>
            </li>
            <li class="item_filter_btn">
                <a th:href="@{/admin-panel#pending-order(size=${orderPage.size},
                                                            page=${1},
                                                            sort=${sort},
                                                            optionFilter=${optionFilter},
                                                            statusFilter=${'expired'})}"
                   th:text="'Expired'" th:style="${statusFilter == 'expired'} ? 'color:#1f5b70'">
                </a>
            </li>
            <li class="item_filter_btn">
                <a th:href="@{/admin-panel#pending-order(size=${orderPage.size},
                                                            page=${1},
                                                            sort=${sort},
                                                            optionFilter=${optionFilter},
                                                            statusFilter=${'revoked'})}"
                   th:text="'Revoked'" th:style="${statusFilter == 'revoked'} ? 'color:#1f5b70'">
                </a>
            </li>
            <li class="item_filter_btn">
                <a th:href="@{/admin-panel#pending-order(size=${orderPage.size},
                                                            page=${1},
                                                            sort=${sort},
                                                            optionFilter=${optionFilter},
                                                            statusFilter=${'pre'})}"
                   th:text="'Pre-approved'" th:style="${statusFilter == 'pre'} ? 'color:#1f5b70'">
                </a>
            </li>
            <li class="item_filter_btn">
                <a th:href="@{/admin-panel#pending-order(size=${orderPage.size},
                                                            page=${1},
                                                            sort=${sort},
                                                            optionFilter=${optionFilter},
                                                            statusFilter=${'canceled'})}"
                   th:text="'Canceled'" th:style="${statusFilter == 'canceled'} ? 'color:#1f5b70'">
                </a>
            </li>
        </ul>
    </div>
</div>

<span th:if="${orderPage.totalPages > 0}">

<br>

<div>
    <div class="row order - row ">

        <div class="col-lg-2">
            <div class="profile-order-title">User ID-Name Surname</div>
        </div>

        <div class="col-lg-2">
            <div class="profile-order-title">Order Time</div>
        </div>

        <div class="col-lg-2">
            <div class="profile-order-title">Total Price</div>
        </div>

        <div class="col-lg-2">
            <div class="profile-order-title">Payment Option</div>
        </div>

        <div class="col-lg-2">
            <div class="profile-order-title">Payment Status</div>
        </div>

        <div class="col-lg-2">
            <div class="profile-order-title">Shipping Company</div>
        </div>

    </div>
    <br>
    <div class="container">
        <div class="orderDetailBox">
            <tr th:each="order: ${orderPage.content}">

                <!-- Order -->
                <div class="product">
                    <a th:href="'#pending-order-' + ${order.getOrderId()}" class="trans_200" data-toggle="collapse">
                        <div class="product_content">
                            <div class="row order - row ">

                                <div class="col-lg-2">
                                    <div class="profile-order-text"
                                         th:text="${order.getUserId() + '-' + profileInformationService.get(order.getUserId()).getName()
                                         + ' ' + profileInformationService.get(order.getUserId()).getSurname()}"></div>
                                </div>

                                <div class="col-lg-2">
                                    <div class="profile-order-text">
                                        <div class="date"
                                             th:text="${#dates.format(order.getOrderDate(), 'dd-MM-yyyy')}"></div>
                                        <div class="time"
                                             th:text="${#dates.format(order.getOrderDate(), 'hh:mm')}"></div>
                                    </div>
                                </div>

                                <div class="col-lg-2">
                                    <div class="profile-order-text"
                                         th:text="'₺' + ${#numbers.formatDecimal(order.getTotalAmount(), 0, 'COMMA', 2, 'POINT')}"></div>
                                </div>

                                <div class="col-lg-2">
                                    <div class="profile-order-text"
                                         th:text="#{${'payment_option.' + order.getPaymentOption()}}"></div>
                                </div>

                                <div class="col-lg-2">
                                    <div class="profile-order-text"
                                         th:text="#{${'payment_status.' + order.getPaymentStatus()}}"></div>
                                </div>

                                <div class="col-lg-2">
                                    <div class="profile-order-text" th:text="${order.getShippingCompany()}"></div>
                                </div>

                            </div>
                        </div>
                    </a>
                </div>

                <div th:id="'pending-order-' + ${order.getOrderId()}" class="collapse">
                    <div class="cart_container">
                        <div class="product profile-order-expand-box">

                            <!-- Cart Items -->
                            <div class="cart_items">
                                <ul class="cart_items_list">

                                    <!-- Cart Item -->
                                    <li class="cart_item item_list d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-end justify-content-start"
                                        th:each="productId: ${order.getProductId()}">
                                        <div class="d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start mr-auto">
                                            <a th:href="@{'/product/' + ${productId}}">
                                                <div>
                                                    <div class="product_image"><img
                                                            src="images/hayvan_ciftligi.jpg" alt=""
                                                            class="product_image_img"></div>
                                                </div>
                                                <div class="product_name_container">
                                                    <div class="cart-product-name">
                                                        <a th:href="@{'/product/' + ${productId}}"
                                                           th:text="${productService.get(productId).getProductName()}">
                                                        </a>
                                                    </div>

                                                    <!-- Book, E-Book, Audio Book -->
                                                    <span th:if="${productService.get(productId).getProductTypeName() == 'Book' ||
                                                                productService.get(productId).getProductTypeName() == 'E-Book' ||
                                                                productService.get(productId).getProductTypeName() == 'Audio Book'}">
                                                        <div class="cart-product-text">
                                                            <span th:each="a, iterStat : ${productService.get(productId).getAuthors()}"
                                                                  th:text="!${iterStat.last} ? ${a} + ', ': ${a}"></span>
                                                        </div>
                                                    </span>

                                                    <!-- E-Book Reader -->
                                                    <span th:if="${productService.get(productId).getProductTypeName() == 'E-Book Reader'}">
                                                        <div class="cart-product-text"
                                                             th:text="${productService.get(productId).getReaderBrand()}">
                                                        </div>
                                                    </span>

                                                    <!-- E-Book Reader Case, Book Case -->
                                                    <span th:if="${productService.get(productId).getProductTypeName() == 'E-Book Reader Case' ||
                                                                productService.get(productId).getProductTypeName() == 'Book Case'}">
                                                        <div class="cart-product-text"
                                                             th:text="${productService.get(productId).getCaseBrand()}">
                                                        </div>
                                                    </span>

                                                </div>
                                            </a>
                                        </div>

                                        <!-- TODO Price-Count-Discount -->
                                        <div class="product_total product_text"
                                             th:text="'₺' + ${#numbers.formatDecimal(productService.get(productId).getPrice(), 0, 'COMMA', 2, 'POINT')}"><span>Total: </span>₺11.99
                                        </div>

                                        <div style="padding-bottom: 15px">
                                            <label class="checkbox_container">
                                                <input checked type="checkbox"
                                                       th:name="'order-' + ${order.getOrderId()}"
                                                       th:id="${productId}" th:value="${productId}"
                                                       class="billing_checkbox">
                                                <span class="checkbox_mark"></span>
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                                <br>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="login_button trans_200">
                                            <input type="submit" value="Confirm sale"
                                                   class="confirm login_button trans_200"
                                                   th:id="'confirm-' + ${order.getOrderId()}">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="login_button trans_200">
                                            <input type="submit" value="Cancel sale"
                                                   class="cancel login_button trans_200"
                                                   th:id="'cancel-' + ${order.getOrderId()}">
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>

            </tr>
        </div>
    </div>
</div>

<div class="row page_nav_row">
    <div class="col">
        <div class="page_nav">
            <ul class="d-flex flex-row align-items-start justify-content-center">
                <!-- Previous button -->
                <li th:style="${currentPage == 1} ? 'display:none'">
                    <a th:href="@{/admin-panel/#order(size=${orderPage.size},
                                                        page=${currentPage - 1},
                                                        sort=${sort},
                                                        optionFilter=${optionFilter},
                                                        statusFilter=${statusFilter})}"
                       aria-label="Previous" title="Previous Page"
                       rel="tooltip">
                        <i class="pagination_arrow fa fa-angle-left"></i>
                    </a>
                </li>

                <!-- First page -->
                <li th:if="${orderPage.totalPages > 0}"
                    th:class="${currentPage == 1} ? 'active'">
                    <a th:href="@{/admin-panel/#order(size=${orderPage.size},
                                                        page=${1},
                                                        sort=${sort},
                                                        optionFilter=${optionFilter},
                                                        statusFilter=${statusFilter})}"
                       th:title="${'Page '+ 1}"
                       th:text="${1}" style="color: #fbaa1d;">
                    </a>
                </li>

                <li th:if="${currentPage - 3 > 1}" class="pagination_dots">...</li>

                <!-- Pages -->
                <li th:if="${orderPage.totalPages > 2}"
                    th:each="i : ${#numbers.sequence(currentPage - 2 > 1 ? currentPage - 2 : 2
                                    , orderPage.totalPages > 2 + currentPage ? currentPage + 2 : orderPage.totalPages - 1, 1)}"
                    th:class="${currentPage == i} ? 'active'">
                    <a th:href="@{/admin-panel#order(size=${orderPage.size},
                                                        page=${i},
                                                        sort=${sort},
                                                        optionFilter=${optionFilter},
                                                        statusFilter=${statusFilter})}"
                       th:text="${i}" th:title="${'Page '+ i}"
                       style="color: #fbaa1d;"></a>
                </li>

                <li th:if="${currentPage + 3 < orderPage.totalPages}"
                    class="pagination_dots">...
                </li>

                <!-- Last page -->
                <li th:if="${orderPage.totalPages > 1}"
                    th:class="${currentPage == orderPage.totalPages} ? 'active'">
                    <a th:href="@{/admin-panel#order(size=${orderPage.size},
                                                        page=${orderPage.totalPages},
                                                        sort=${sort},
                                                        optionFilter=${optionFilter},
                                                        statusFilter=${statusFilter})}"
                       th:text="${orderPage.totalPages}"
                       style="color: #fbaa1d;"
                       th:title="${'Page '+ orderPage.totalPages}">
                    </a>
                </li>

                <!-- Next button -->
                <li th:style="${currentPage == orderPage.totalPages} ? 'display:none'">
                    <a th:href="@{/admin-panel#order(size=${orderPage.size},
                                                        page=${currentPage + 1},
                                                        sort=${sort},
                                                        optionFilter=${optionFilter},
                                                        statusFilter=${statusFilter})}"
                       aria-label="Next" title="Next Page" rel="tooltip">
                        <i class="pagination_arrow fa fa-angle-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

</span>

<!-- No orders -->
<span th:unless="${orderPage.totalPages > 0}">
    <div style="text-align: center; padding-bottom: 30px">
        <img th:src="@{/static/images/no_data.png}">
    </div>
    <div class="warning-text">There are no orders.</div>
</span>

<script>

    $('.confirm').click(function (event) {
        var orderId = $(this).attr("id").split("-")[1];
        console.log('order-' + orderId);
        var ret = {
            reply: "confirm",
            orderId: orderId,
            confirmedProducts: JSON.stringify(getCheckedProducts("order-" + orderId))
        };

        if (validation_check([])) {
            event.preventDefault();
            $.post("/admin-panel/pending-order", ret, function (data) {
                iziToast.show({
                    title: 'Success',
                    message: 'Order confirmed successfully.',
                    position: 'topRight',
                    color: 'green'
                });
                window.location.href = "/admin-panel#pending-order";
                setTimeout(function () {
                    history.pushState(null, null, ' ');
                }, 100);

            }).fail(function (data) {
                iziToast.show({
                    title: 'Fail',
                    message: data.responseText,
                    position: 'topRight',
                    color: 'red'
                });
            })
        }
    });

    $('.cancel').click(function (event) {
        var ret = {
            reply: "cancel",
            orderId: $(this).attr("id").split("-")[1]
        };

        if (validation_check([])) {
            event.preventDefault();
            $.post("/admin-panel/pending-order", ret, function (data) {
                iziToast.show({
                    title: 'Success',
                    message: 'Order canceled successfully.',
                    position: 'topRight',
                    color: 'green'
                });
                window.location.href = "/admin-panel#pending-order";
                setTimeout(function () {
                    history.pushState(null, null, ' ');
                }, 100);

            }).fail(function (data) {
                iziToast.show({
                    title: 'Fail',
                    message: data.responseText,
                    position: 'topRight',
                    color: 'red'
                });
            })
        }
    });

    function getCheckedProducts(checkboxName) {
        var arr = [];
        $.each($('input[name=' + checkboxName + ']:checked'), function () {
            var value = $(this).val();
            arr.push(value)
        });
        console.log(arr);
        return arr;
    }
</script>

</html>