<!-- Sort orders -->
<div class="products_bar_side d-flex flex-row align-items-end justify-content-end ml-lg-auto">
    <div class="products_dropdown product_dropdown_sorting">
        <div class="isotope_sorting_text"><span>Sort</span><i
                class="fa fa-caret-down" aria-hidden="true"></i></div>
        <ul>
            <li class="item_sorting_btn"
                data-isotope-option='{ "sortBy": "original-order" }'>Date
            </li>
            <li class="item_sorting_btn" data-isotope-option='{ "sortBy": "price" }'>Price</li>
            <li class="item_sorting_btn" data-isotope-option='{ "sortBy": "name" }'>User Name
            </li>
            <li class="item_sorting_btn" data-isotope-option='{ "sortBy": "id" }'>User ID</li>
        </ul>
    </div>
</div>

<br>

<div>
    <div class="row order - row ">

        <div class="col-lg-3">
            <div class="profile-order-title">Order Date</div>
        </div>

        <div class="col-lg-3">
            <div class="profile-order-title">Order Code</div>
        </div>

        <div class="col-lg-3">
            <div class="profile-order-title">User ID-Name Surname</div>
        </div>

        <div class="col-lg-3">
            <div class="profile-order-title">Total Price</div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="orderDetailBox">

            <!-- Order -->
            <div class="product">
                <a href="#pending-order-1" class="trans_200" data-toggle="collapse">
                    <div class="product_content">
                        <div class="row order - row ">
                            <div class="col-lg-3">
                                <div class="profile-order-text">
                                    <div class="date">04.04.2020</div>
                                    <div class="time">14:30</div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="profile-order-text">XHSHFJ276</div>
                            </div>

                            <div class="col-lg-3">
                                <div class="profile-order-text">1-Jane Doe</div>
                            </div>
                            <div class="col-lg-3">
                                <div class="profile-order-text">₺89.90</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div id="pending-order-1" class="collapse">
                <div class="cart_container">
                    <div class="product profile-order-expand-box">

                        <!-- Cart Items -->
                        <div class="cart_items">
                            <ul class="cart_items_list">

                                <!-- Cart Item 1 -->
                                <li class="cart_item item_list d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-end justify-content-start">
                                    <div class="d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start mr-auto">
                                        <a href="product.html">
                                            <div>
                                                <div class="product_image"><img
                                                        src="images/hayvan_ciftligi.jpg" alt=""
                                                        class="product_image_img"></div>
                                            </div>
                                            <div class="product_name_container">
                                                <div class="cart-product-name"><a
                                                        href="product.html">Hayvan
                                                    CiftligiCiftligiCiftligiCiftligiCiftligiCiftligiCiftligiCiftligiCiftligiCiftligiCiftligiCiftligiCiftligiCiftligiCiftligiCiftligiCiftligiCiftligiCiftligiCiftligiCiftligi</a>
                                                </div>
                                                <div class="cart-product-text">George Orwell
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="product_total product_text"><span>Total: </span>₺11.99
                                    </div>
                                    <div style="padding-bottom: 15px">
                                        <label class="checkbox_container">
                                            <input checked type="checkbox"
                                                   id="pending-order-1-animal-farm"
                                                   class="billing_checkbox">
                                            <span class="checkbox_mark"></span>
                                        </label>
                                    </div>
                                </li>

                                <!-- Cart Item 2 -->
                                <li class="cart_item item_list d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-end justify-content-start">
                                    <div class="d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start mr-auto">
                                        <a href="product.html">
                                            <div>
                                                <div class="product_image"><img
                                                        src="images/sineklerin_tanrisi.jpg"
                                                        alt=""
                                                        class="product_image_img">
                                                </div>
                                            </div>
                                            <div class="product_name_container">
                                                <div class="cart-product-name"><a
                                                        href="product.html">Sineklerin
                                                    Tanrisi</a></div>
                                                <div class="cart-product-text">William Golding
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="product_total product_text"><span>Total: </span>₺9.60
                                    </div>
                                    <div style="padding-bottom: 15px">
                                        <label class="checkbox_container">
                                            <input checked type="checkbox"
                                                   id="pending-order-1-lord-of-flies"
                                                   class="billing_checkbox">
                                            <span class="checkbox_mark"></span>
                                        </label>
                                    </div>
                                </li>
                            </ul>
                            <br>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="login_button trans_200"><a href="#">Confirm
                                        sale</a></div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="login_button trans_200"><a href="#">Cancel
                                        sale</a></div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Order -->
            <div class="product">
                <a href="#pending-order-2" class="trans_200" data-toggle="collapse">
                    <div class="product_content">
                        <div class="row order - row ">
                            <div class="col-lg-3">
                                <div class="profile-order-text">
                                    <div class="date">30.03.2020</div>
                                    <div class="time">11:20</div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="profile-order-text">AVS33FG76</div>
                            </div>
                            <div class="col-lg-3">
                                <div class="profile-order-text">1-Jane Doe</div>
                            </div>
                            <div class="col-lg-3">
                                <div class="profile-order-text">₺29.49</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div id="pending-order-2" class="collapse">
                <div class="cart_container">
                    <div class="product profile-order-expand-box">

                        <!-- Cart Items -->
                        <div class="cart_items">
                            <ul class="cart_items_list">

                                <!-- Cart Item 1 -->
                                <li class="cart_item item_list d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-end justify-content-start">
                                    <div class="d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start mr-auto">
                                        <a href="product.html">
                                            <div>
                                                <div class="product_image"><img
                                                        src="images/hayvan_ciftligi.jpg" alt=""
                                                        class="product_image_img"></div>
                                            </div>
                                            <div class="product_name_container">
                                                <div class="cart-product-name"><a
                                                        href="product.html">Animal Farm</a>
                                                </div>
                                                <div class="cart-product-text">George Orwell
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="product_total product_text"><span>Total: </span>₺11.99
                                    </div>
                                    <div style="padding-bottom: 15px">
                                        <label class="checkbox_container">
                                            <input checked type="checkbox"
                                                   id="pending-order-2-animal-farm"
                                                   class="billing_checkbox">
                                            <span class="checkbox_mark"></span>
                                        </label>
                                    </div>
                                </li>

                                <!-- Cart Item 2 -->
                                <li class="cart_item item_list d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-end justify-content-start">
                                    <div class="d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start mr-auto">
                                        <a href="product.html">
                                            <div>
                                                <div class="product_image"><img
                                                        src="images/sineklerin_tanrisi.jpg"
                                                        alt=""
                                                        class="product_image_img">
                                                </div>
                                            </div>
                                            <div class="product_name_container">
                                                <div class="cart-product-name"><a
                                                        href="product.html">Lord of the
                                                    Flies</a></div>
                                                <div class="cart-product-text">William Golding
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="product_total product_text"><span>Total: </span>₺9.60
                                    </div>
                                    <div style="padding-bottom: 15px">
                                        <label class="checkbox_container">
                                            <input checked type="checkbox"
                                                   id="pending-order-2-lord-of-flies"
                                                   class="billing_checkbox">
                                            <span class="checkbox_mark"></span>
                                        </label>
                                    </div>
                                </li>
                            </ul>
                            <br>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="login_button trans_200"><a href="#">Confirm
                                        sale</a></div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="login_button trans_200"><a href="#">Cancel
                                        sale</a></div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Order -->
            <div class="product">
                <a href="#pending-order-3" class="trans_200" data-toggle="collapse">
                    <div class="product_content">
                        <div class="row order - row ">
                            <div class="col-lg-3">
                                <div class="profile-order-text">
                                    <div class="date">12.03.2020</div>
                                    <div class="time">19:03</div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="profile-order-text">SH5FJL276</div>
                            </div>
                            <div class="col-lg-3">
                                <div class="profile-order-text">1-Jane Doe</div>
                            </div>
                            <div class="col-lg-3">
                                <div class="profile-order-text">₺59.60</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div id="pending-order-3" class="collapse">
                <div class="cart_container">
                    <div class="product profile-order-expand-box">

                        <!-- Cart Items -->
                        <div class="cart_items">
                            <ul class="cart_items_list">

                                <!-- Cart Item 1 -->
                                <li class="cart_item item_list d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-end justify-content-start">
                                    <div class="d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start mr-auto">
                                        <a href="product.html">
                                            <div>
                                                <div class="product_image"><img
                                                        src="images/hayvan_ciftligi.jpg" alt=""
                                                        class="product_image_img"></div>
                                            </div>
                                            <div class="product_name_container">
                                                <div class="cart-product-name"><a
                                                        href="product.html">Hayvan
                                                    Ciftligi</a></div>
                                                <div class="cart-product-text">George Orwell
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="product_total product_text"><span>Total: </span>₺11.99
                                    </div>
                                    <div style="padding-bottom: 15px">
                                        <label class="checkbox_container">
                                            <input checked type="checkbox"
                                                   id="pending-order-3-animal-farm"
                                                   class="billing_checkbox">
                                            <span class="checkbox_mark"></span>
                                        </label>
                                    </div>
                                </li>

                                <!-- Cart Item 2 -->
                                <li class="cart_item item_list d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-end justify-content-start">
                                    <div class="d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start mr-auto">
                                        <a href="product.html">
                                            <div>
                                                <div class="product_image"><img
                                                        src="images/sineklerin_tanrisi.jpg"
                                                        alt=""
                                                        class="product_image_img">
                                                </div>
                                            </div>
                                            <div class="product_name_container">
                                                <div class="cart-product-name"><a
                                                        href="product.html">Sineklerin
                                                    Tanrisi</a></div>
                                                <div class="cart-product-text">William Golding
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="product_total product_text"><span>Total: </span>₺9.60
                                    </div>
                                    <div style="padding-bottom: 15px">
                                        <label class="checkbox_container">
                                            <input checked type="checkbox"
                                                   id="pending-order-3-lord-of-flies"
                                                   class="billing_checkbox">
                                            <span class="checkbox_mark"></span>
                                        </label>
                                    </div>
                                </li>
                            </ul>
                            <br>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="login_button trans_200"><a href="#">Confirm
                                        sale</a></div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="login_button trans_200"><a href="#">Cancel
                                        sale</a></div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- No product -->
<div class="warning-text" style="display: none">There are no pending orders.</div>

<div class="row page_nav_row">
    <div class="col">
        <div class="page_nav">
            <ul class="d-flex flex-row align-items-start justify-content-center">
                <li class="active"><a href="#">1</a></li>
                <li><a href="#" style="color: #fbaa1d;">2</a></li>
                <li><a href="#" style="color: #fbaa1d;">3</a></li>
                <li><a href="#" style="color: #fbaa1d;">4</a></li>
            </ul>
        </div>
    </div>
</div>