<!-- Sort orders -->
<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="products_bar_side d-flex flex-row align-items-end justify-content-end ml-lg-auto">
    <div class="products_dropdown product_dropdown_sorting">
        <div class="isotope_sorting_text"><span>Sort</span><i
                class="fa fa-caret-down" aria-hidden="true"></i></div>
        <ul>
            <li class="item_sorting_btn"
                data-isotope-option='{ "sortBy": "original-order" }'>ID
            </li>
            <li class="item_sorting_btn" data-isotope-option='{ "sortBy": "name" }'>Name</li>
            <li class="item_sorting_btn" data-isotope-option='{ "sortBy": "surname" }'>Surname
            </li>
            <li class="item_sorting_btn" data-isotope-option='{ "sortBy": "email" }'>E-Mail</li>
        </ul>
    </div>
</div>

<br>


    <div class="row order - row ">

        <div class="col-lg-3 col-md-3 col-xs-6">
            <div class="profile-order-title">ID</div>
        </div>

        <div class="col-lg-3 col-md-3 col-xs-6">
            <div class="profile-order-title">Name</div>
        </div>

        <div class="col-lg-3 col-md-3 col-xs-6">
            <div class="profile-order-title">Surname</div>
        </div>
        <div class="col-lg-3 col-md-3 col-xs-6">
            <div class="profile-order-title">E-Mail</div>
        </div>
    </div>
    <br>

    <div class="container">
        <div class="orderDetailBox">

                <tr th:each="user: ${userPage.content}">

                    <!-- User -->
                    <div class="product">
                        <a th:href="@{'/user-details/' + ${user.userId}}">
                            <div class="product_content">
                                <div class="row order - row collapsible">
                                    <div class="col-lg-3 col-md-3 col-xs-6">
                                        <div class="profile-order-text">
                                            <td th:text="${user.userId}"></td>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-xs-6">
                                        <div class="profile-order-text">
                                            <td th:text="${user.name}"></td>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-xs-6">
                                        <div class="profile-order-text">
                                            <td th:text="${user.surname}"></td>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-xs-6">
                                        <div class="profile-order-text">
                                            <td th:text="${user.email}"></td>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                </tr>


        </div>
    </div>



    <div class="row page_nav_row">
    <div class="col">
        <div class="page_nav">
            <ul class="d-flex flex-row align-items-start justify-content-center">
                <div th:if="${userPage.totalPages > 0}" th:each="pageNumber : ${pageNumbers}">
                <li ><a th:href="@{/admin-panel#user(size=${userPage.size}, page=${pageNumber})}"
                                      th:text="${pageNumber}"
                                      th:class="${pageNumber==userPage.number + 1} ? active"></a></li>
                </div>
            </ul>
        </div>
    </div>
</div>


<!-- No user -->



</html>