<!-- Sort orders -->
<div class="products_bar_side d-flex flex-row align-items-end justify-content-end ml-lg-auto">
    <div class="products_dropdown product_dropdown_sorting">
        <div class="isotope_sorting_text"><span>Sort</span><i
                class="fa fa-caret-down" aria-hidden="true"></i></div>
        <ul>
            <li class="item_sorting_btn"
                data-isotope-option='{ "sortBy": "original-order" }'>ID
            </li>
            <li class="item_sorting_btn" data-isotope-option='{ "sortBy": "name" }'>Name</li>
            <li class="item_sorting_btn" data-isotope-option='{ "sortBy": "surname" }'>Surname
            </li>
            <li class="item_sorting_btn" data-isotope-option='{ "sortBy": "email" }'>E-Mail</li>
        </ul>
    </div>
</div>

<br>

<div>
    <div class="row order - row ">

        <div class="col-lg-3 col-md-3 col-xs-6">
            <div class="profile-order-title">ID</div>
        </div>

        <div class="col-lg-3 col-md-3 col-xs-6">
            <div class="profile-order-title">Name</div>
        </div>

        <div class="col-lg-3 col-md-3 col-xs-6">
            <div class="profile-order-title">Surname</div>
        </div>
        <div class="col-lg-3 col-md-3 col-xs-6">
            <div class="profile-order-title">E-Mail</div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="orderDetailBox">

            <!-- User -->
            <div class="product">
                <a href="../user-details.html">
                    <div class="product_content">
                        <div class="row order - row collapsible">
                            <div class="col-lg-3 col-md-3 col-xs-6">
                                <div class="profile-order-text">1</div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-xs-6">
                                <div class="profile-order-text">Jane</div>
                            </div>

                            <div class="col-lg-3 col-md-3 col-xs-6">
                                <div class="profile-order-text">Doe</div>
                            </div>

                            <div class="col-lg-3 col-md-3 col-xs-6">
                                <div class="profile-order-text">jane_doe@gmail.com</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- User -->
            <div class="product">
                <a href="../user-details.html">
                    <div class="product_content">
                        <div class="row order - row collapsible">
                            <div class="col-lg-3 col-md-3 col-xs-6">
                                <div class="profile-order-text">2</div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-xs-6">
                                <div class="profile-order-text">John</div>
                            </div>

                            <div class="col-lg-3 col-md-3 col-xs-6">
                                <div class="profile-order-text">Doe</div>
                            </div>

                            <div class="col-lg-3 col-md-3 col-xs-6">
                                <div class="profile-order-text">john_doe@gmail.com</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- No user -->
<div class="warning-text" style="display: none">There are no users.</div>

<div class="row page_nav_row">
    <div class="col">
        <div class="page_nav">
            <ul class="d-flex flex-row align-items-start justify-content-center">
                <li class="active"><a href="#">1</a></li>
                <li><a href="#" style="color: #fbaa1d;">2</a></li>
                <li><a href="#" style="color: #fbaa1d;">3</a></li>
                <li><a href="#" style="color: #fbaa1d;">4</a></li>
            </ul>
        </div>
    </div>
</div>
