.product_dropdown_sorting {
    position: relative;
}

.isotope_filter_text span,
.isotope_sorting_text span {
    font-size: 16px;
    font-weight: 400;
    color: #969696;
}

.product_dropdown_filter {
    width: 114px;
    position: relative;
}

.sidebar_expand {
    padding-top: 2px;
    padding-bottom: 5px;
}

.expand_element {
    padding-top: 5px;
    padding-bottom: 5px;
}

.category-element {
    padding-top: 20px;
    background: #f8f8f8;
}

.review-product-name {
    max-width: 250px !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.review-product-text {
    font-size: 14px;
    font-weight: 400;
    color: #4a4a4a;
    max-width: 250px !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.review-product-name a {
    font-size: 18px;
    color: #4a4a4a !important;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.review-product-name a:hover {
    color: #fbaa1d !important;
}

.cart-product-name {
    max-width: 800px !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.cart-product-text {
    font-size: 14px;
    font-weight: 400;
    color: #4a4a4a;
    max-width: 800px !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.choose_file_button {
    color: #ffffff !important;
    cursor: pointer !important;
}

.choose_file_button:hover {
    color: #fbaa1d !important;
}

.form-review .form-control {
    background: transparent;
    border: 1px solid #999999;
    font-size: 18px;
    color: #495057;
}

.product-row {
    height: 100%;
}