.choose_file_label {
    width: 100%;
    height: 44px;
    background: #fbaa1d;
    border-radius: 2px;
    text-align: center;

    border: solid 2px #fbaa1d;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.choose_file_label a {
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 44px;
    text-transform: uppercase;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.choose_file_label:hover {
    background: transparent;
}

.choose_file_label:hover a {
    color: #fbaa1d;
}

.long_desc_textarea::-webkit-input-placeholder {
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #969696 !important;
}

.long_desc_textarea {
    background: #FFFFFF;
    padding-left: 20px;
    color: #000000;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.product_details_image_img {
    max-width: 100%;
    max-height: 500px;
    border-style: solid;
    border-color: #C0C0C0;
    border-width: 1px;
}

.product_details_image {
}

.product_details_image img {
    max-height: 500px;
    max-width: 100%;
}
